.checkins-wrapper
 .resize-main
    .resize-content
        .resize-row
            section#one(resizable='', r-directions="['right']", r-flex='true')
                p Works with flexbox.
            section#two
                p 2

