.checkins-wrapper
 .resize-main
    .resize-content
        .resize-row
            section#one(resizable r-directions="['right']", r-flex='true')
                p Months calendar will be here
            section#two
                checkins-info-component

