.content
  .resizable-row(resizable='', r-directions="['bottom']", r-flex='true')
    section#one(resizable='', r-directions="['right']", r-flex='true')
      p Month calendar will be here.
    section#two
      .checkins-info-container
        checkins-info-component




