.content
    flex 1
    display flex
    flex-flow column nowrap
    justify-content space-around
    align-content space-around

.resizable-row
    min-height 50px
    flex 1
    display flex
    flex-flow row nowrap
    &.resizable
        flex 0 0 300px

section
    box-sizing border-box
    border-radius 10px
    margin 7px
    background white
    flex 1
    min-width 30px
    &.resizable
        flex 0 0 400px
#two
    overflow-y scroll