.content
  .resizable-row
    section#one(resizable='', r-directions="['right']", r-flex='true')
        ng-outlet
    section#two
      .checkins-info-container
        right-panel-component




