section.calendar-day
    header.day-header
        i.fa.fa-chevron-left(ng-click='cd.changeDateOfStep(-1)')
        span.current-day
            span.show-current-day(ng-click='cd.goto()')
                |{{cd.currentDate| date: 'd MMM yyyy'}}
            span.calendar-picker.fa.fa-calendar(ng-click='cd.startChangeDate()')
            div.datepicker(uib-datepicker='', datepicker-options='options', show-button-bar='false', ng-model='cd.currentDate', ng-if='cd.isChangeDate', ng-click='cd.endChangeDate()')
        i.fa.fa-chevron-right(ng-click='cd.changeDateOfStep(1)')
    section.day-body
        table.day-in-table
            tbody
                tr.hourRow(ng-repeat='timeSt in cd.timeStamps')
                    td.hourCell
                        |{{timeSt.value}}:00
                    td.infoCell
                        |Events