.checkins-setup-wrapper
    .checkins-setup
        .header-setup
            div
                h3 What question do you want to ask?
                input.question(type='text', placeholder='Type your question...')
        .main-setup
            ul.user-list
                h3 Who do you want to ask?
                li#all-list.list
                    span Check All
                    input.checkbox-btn(type='checkbox')
                li.list
                    span Name Surname
                    input.checkbox-btn(type='checkbox')
                li.list
                    span Name Surname
                    input.checkbox-btn(type='checkbox')
                li.list
                    span Name Surname
                    input.checkbox-btn(type='checkbox')
                li.list
                    span Name Surname
                    input.checkbox-btn(type='checkbox')
                li.list
                    span Name Surname
                    input.checkbox-btn(type='checkbox')
                li.list
                    span Name Surname
                    input.checkbox-btn(type='checkbox')
                li.list
                    span Name Surname
                    input.checkbox-btn(type='checkbox')
                li.list
                    span Name Surname
                    input.checkbox-btn(type='checkbox')
                li.list
                    span Name Surname
                    input.checkbox-btn(type='checkbox')
        .footer-setup
            h3 How frequently should we ask it?
            div
                select
                    option(value='') Every weekday
                    option(value='') Every Monday
                    option(value='') Every Friday
                    option(value='') Every other Monday
                    option(value='') Every other Friday
                    option(value='') First Monday of every month
                select
                    option(value='') at the beginning of the day
                    option(value='') at the end of the day
            div
                button(ng-link='["Checkins"]') Cancel
                button Save
