.checkins-setup-wrapper
    margin 5%
    li
        list-style none
    .checkins-header
        display flex
        justify-content center
        flex-direction row
    .header-list
        h1
            border-bottom 1px solid black
    .setup-checkins
        display flex
        flex-flow row wrap
        justify-content center
        max-width 650px
        height 650px
        text-align center
        margin 0 auto
        background-color #f5f5f5
        border 1px solid #adadad
        border-radius 10px
        & > *
            flex 1 100%
    .header-setup, .main-setup, .list
        border-bottom 1px solid #adadad
    .header-setup
        height 19%
    .question
        width 350px
        font-size 23px
        text-align center
        font-weight bold
    .main-setup
        height 60%
        overflow auto
    .user-list
        li
            font-size 20px
            padding 1%
    .list
        display flex
        list-style none
        justify-content space-between
        margin-right 50px
    .footer-setup
        height 21%
