.checkin-create-wrapper
    margin 5%
    .header-container
        display flex
        justify-content center
        margin 0
    .fa
        display block
        position absolute
        margin-left 100px
        margin-top 15px
        text-decoration none
        color black
    .qq
        font-size 30px
        width 500px
        border-radius 0.5rem
    .title
        list-style none
        margin 0
        display flex
        justify-content center
        font-size 25px
    h1
        span
            font-size 50px
            border-bottom 1px solid black
    .container
        height 100%
        width 100%
        display flex
        align-items center
        justify-content center
    .wrapper
        margin 0
        padding 0
        display flex
        flex-flow row wrap
        text-align center
        width 650px
        height 700px
        background-color #f5f5f5
        border 1px solid #adadad
        border-radius 0.5rem
        & > *
            flex 1 100%
    .header
        height 20%
    .main
        height 60%
        overflow auto
    li
        font-size 25px
        padding 1%
    .list
        display flex
        list-style none
        justify-content space-between
        margin-right 50px
    .checkbox-btn
        height 1.7em
        width 1.7em
    .header, .main, #all-list, .list
        border-bottom 1px solid #adadad
    .footer
        height 20%
        button
            width 200px
            height 40px
            cursor pointer
            text-decoration none
            background #1d8dbf
            color #fff
            border-radius 0.5rem
            font-size 20px
            &:hover
                background #1d6dbf

