.checkins-setup-wrapper
    margin 5%

    .checkins-setup
        display flex
        flex-flow row wrap
        justify-content center
        max-width 650px
        height 700px
        text-align center
        margin 0 auto
        background-color #f5f5f5
        border 1px solid #adadad
        border-radius 10px
        & > *
            flex 1 100%
        i
            color #212121

    .header-setup, .main-setup, .list
        border-bottom 1px solid #adadad

    li
        list-style none

    .header-setup
        height 20%
        h3
            margin 0

    .close-btn
        text-align right
        margin-top 5px
        margin-right 10px

    .fa-times
        &:hover
            color #f20000

    input
        &.question
            text-align center
            border 1px solid #adadad
            border-radius 10px
            font-size 25px
            width 70%
            outline none
            margin 15px

    .main-setup
        height 60%
        overflow auto

    label
        &.checkbox
            display flex
            justify-content space-between
            font-size 20px
            margin-right 10px
            cursor pointer
            padding 1%

    .checkbox
        input
            width 20px
            height 20px

    .list
        margin-right 30px

    .footer-setup
        h3
            height 20%

    .schedule
        select
            padding-top 15px
            border-radius 3px
            border 1px solid #adadad
            font-size 18px
            outline none
            margin 10px

    .fa-floppy-o
        &:hover
            color #00c000

