.checkins-setup-wrapper
    .checkins-setup
        .header-setup
            .close-btn
                a(ng-link='["Checkins"]')
                    i.fa.fa-times.fa-2x
            h3 What question do you want to ask?
            input.question(type='text', placeholder='Type your question...')
        .main-setup
            h3 Who do you want to ask?
            ul.user-list
                li.list
                    label#check-all.checkbox
                        span Check All
                        input(type='checkbox', ng-model='all')
                li.list
                    label.checkbox
                        span Name Surname
                        input(type='checkbox', ng-checked='all')
                li.list
                    label.checkbox
                        span Name Surname
                        input(type='checkbox', ng-checked='all')
                li.list
                    label.checkbox
                        span Name Surname
                        input(type='checkbox', ng-checked='all')
                li.list
                    label.checkbox
                        span Name Surname
                        input(type='checkbox', ng-checked='all')
                li.list
                    label.checkbox
                        span Name Surname
                        input(type='checkbox', ng-checked='all')
                li.list
                    label.checkbox
                        span Name Surname
                        input(type='checkbox', ng-checked='all')
                li.list
                    label.checkbox
                        span Name Surname
                        input(type='checkbox', ng-checked='all')
                li.list
                    label.checkbox
                        span Name Surname
                        input(type='checkbox', ng-checked='all')
                li.list
                    label.checkbox
                        span Name Surname
                        input(type='checkbox', ng-checked='all')
        .footer-setup
            h3 How frequently should we ask it?
            .schedule
                select#schedule-first
                    option(value='') Every weekday
                    option(value='') Every Monday
                    option(value='') Every Friday
                    option(value='') Every other Monday
                    option(value='') Every other Friday
                    option(value='') First Monday of every month
                select#schedule-second
                    option(value='') at the beginning of the day
                    option(value='') at the end of the day
                a(href='')
                    i.fa.fa-floppy-o.fa-3x