*sublime*
node_modules/
npm-debug.log
.DS_store
*.log
Thumbs.db
.idea/

public/js/

.vscode/
.settings/

build/

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

*.zip