aside.side-menu-wrapper
    nav.side-menu
        ul
            li
                a(ng-link='["MainPage"]')
                    i.fa.fa-home.fa-2x
                    span.nav-text Home
            li
                a(ng-link='["MsgBoard"]')
                    i.fa.fa-television.fa-2x
                    span.nav-text Message Board
            li
                a(ng-link='["Checkins"]')
                    i.fa.fa-calendar-check-o.fa-2x
                    span.nav-text Check-ins
            li
                a(ng-link='["Tasks"]')
                    i.fa.fa-tasks.fa-2x
                    span.nav-text Tasks
            li
                a(ng-link='["Events"]')
                    i.fa.fa-calendar.fa-2x
                    span.nav-text Events
            li
                a(ng-link='["Reports"]')
                    i.fa.fa-area-chart.fa-2x
                    span.nav-text Reports
            li
                a(ng-link='["Drafts"]')
                    i.fa.fa-pencil-square-o.fa-2x
                    span.nav-text Drafts
            li
                a(ng-link='["Trash"]')
                    i.fa.fa-trash.fa-2x
                    span.nav-text Trash
            li
                a(ng-link='["Project"]')
                    i.fa.fa-cogs.fa-2x
                    span.nav-text Settings
