@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
.side-menu-wrapper {
  padding-top: 2%;
  position: fixed;
  left: 0;
  top: 70px;
  z-index: 10;
}
.side-menu-wrapper .fa {
  position: relative;
  display: table-cell;
  color: #929292;
  width: 60px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.side-menu-wrapper .side-menu {
  box-shadow: 0px 5px 20px 2px #808080;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fbfbfb;
  position: absolute;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}
.side-menu-wrapper .side-menu:hover {
  width: 180px;
  overflow: hidden;
}
.side-menu-wrapper .side-menu > ul {
  margin: 1px 0;
}
.side-menu-wrapper .side-menu li {
  transition: 0.2s;
  overflow: hidden;
  position: relative;
  display: block;
  width: 185px;
}
.side-menu-wrapper .side-menu li:hover .fa {
  color: #000;
}
.side-menu-wrapper .side-menu li > a {
  overflow: hidden;
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #929292;
  font-family: "Montserrat";
  font-size: 15px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.side-menu-wrapper .side-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 120px;
  font-family: "Montserrat", sans-serif;
}
.side-menu-wrapper .no-touch .scrollable.hover {
  overflow-y: hidden;
}
.side-menu-wrapper .no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}
.side-menu-wrapper a:hover,
.side-menu-wrapper a:focus {
  text-decoration: none;
}
.side-menu-wrapper nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.side-menu-wrapper nav ul,
.side-menu-wrapper nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.side-menu-wrapper .side-menu li:hover > a,
.side-menu-wrapper nav.side-menu li.active > a,
.side-menu-wrapper .dropdown-menu > li > a:hover,
.side-menu-wrapper .dropdown-menu > li > a:focus,
.side-menu-wrapper .dropdown-menu > .active > a,
.side-menu-wrapper .dropdown-menu > .active > a:hover,
.side-menu-wrapper .dropdown-menu > .active > a:focus,
.side-menu-wrapper .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.side-menu-wrapper .dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
}
