@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
.side-menu-wrapper
    height 100%
    padding-top 2%
    position fixed
    left 0
    top 0
    z-index 10
    *
        box-sizing border-box
    .burger
        margin-top 30px
        background-color #fbfbfb;
        color black
        width 100%
        height 6%
        display none
    .fa
        position: relative;
        display: table-cell;
        color #929292
        width: 50px;
        height: 35px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
    .side-menu
        padding-top 30px
        height 100%

        background-color #fbfbfb;
        position: absolute;
        left: 0;
        width: 185px;
        overflow: hidden;
        -webkit-transition: width 0.2s linear;
        transition: width 0.2s linear;
        -webkit-transform: translateZ(0) scale(1, 1);
        z-index: 1000;
    .side-menu > ul
        margin: 1px 0;
    .side-menu li 
        transition 0.2s;
        overflow hidden;
        position: relative;
        display: block;
        width: 250px;
        &:hover
            .fa
                color black
    .side-menu li > a
        overflow hidden;
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: #929292;
        font-family: "Montserrat";
        font-size: 15px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    .side-menu .nav-text
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 125px;
        font-family: "Montserrat", sans-serif;
    .no-touch .scrollable.hover
        overflow-y: hidden;
    .no-touch .scrollable.hover:hover
        overflow-y: auto;
        overflow: visible;
    a:hover,a:focus
        text-decoration: none;
    nav
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    nav ul,nav li
        outline: 0;
        margin: 0;
        padding: 0;
    .side-menu li:hover > a, nav.side-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a
        color: #fff;
        background-color: #5fa2db;

@media only screen  and (max-width : 1000px), screen and (max-device-width : 1000px)
    .side-menu-wrapper
        height auto
        width 100%
        display flex
        .burger
            display flex
            justify-content flex-start
            align-items center
            width 100%
            z-index 10
        .fa
            padding-right 15px
            padding-left 5px
        .side-menu
            //- padding-top 0px
            width 100%
            height auto
            margin-top 35px
            display none 
            z-index: 5;
            li 
                width auto
                margin-left 5px
            .nav-text

                width  100%
    .show
        display block
@media only screen  and (max-width : 720px), screen and (max-device-width : 720px)
    .side-menu-wrapper
        .side-menu
            .fa
                display none
            li
                a
                    font-size 2.5em
        .burger
            height 5%
            .fa
                font-size: 2.1em;
@media only screen  and (max-width : 480px), screen and (max-device-width: 480px)
    .side-menu-wrapper
        .side-menu
            .fa
                display none
            margin-top 60px
            li
                a
                    font-size 2em
        .burger
            height 4%
            .fa
                font-size: 2.5em;
                padding: 0.2em;