aside.side-menu-wrapper
	.burger
		a(ng-click="MenuCtrl.showMenu()")
			i.fa.fa-bars
	nav#side-menu.side-menu(ng-disabled="MenuCtrl.disabled")
		ul
			li
				a(ng-link='["MainPage"]',ng-if="MenuCtrl.disabled ", ng-click="MenuCtrl.showMenu()")
					i.fa.fa-home.fa-2x
					span.nav-text Home
			li
				a(ng-link='["MsgBoard"]',ng-if="MenuCtrl.disabled",  ng-click="MenuCtrl.showMenu()")
					i.fa.fa-television.fa-2x
					span.nav-text Message Board
			li(ng-if="MenuCtrl.checkinsAccess")
				a(ng-link='["Checkins"]',ng-if="MenuCtrl.disabled",  ng-click="MenuCtrl.showMenu()")
					i.fa.fa-calendar-check-o.fa-2x
					span.nav-text Check-ins
			li
				a(ng-if="MenuCtrl.disabled", ng-link='["Tasks"]', ng-click="MenuCtrl.showMenu()")
					i.fa.fa-tasks.fa-2x
					span.nav-text Tasks
			li
				a(ng-link='["Events"]',ng-if="MenuCtrl.disabled",  ng-click="MenuCtrl.showMenu()")
					i.fa.fa-calendar.fa-2x
					span.nav-text Events
			li(ng-if="MenuCtrl.reportsAccess")
				a(ng-link='["Reports"]',ng-if="MenuCtrl.disabled",  ng-click="MenuCtrl.showMenu()")
					i.fa.fa-area-chart.fa-2x
					span.nav-text Reports
			li.lastItem
				a(ng-link='["Project"]',ng-if="MenuCtrl.disabled",  ng-click="MenuCtrl.showMenu()")
					i.fa.fa-cogs.fa-2x
					span.nav-text Settings
			li
				a(ng-link="[\"CreateProject\"]", ng-click="MenuCtrl.showMenu()")
					i.fa.fa-plus-circle.fa-2x
					span.nav-text New Project
			li.changeProject(ng-mouseover="MenuCtrl.hoverIn()",ng-mouseleave="MenuCtrl.hoverOut()")
				a
					i.fa.fa-angle-double-right.fa-2x
					span.nav-text Change Project
				.projects_change(ng-class = "{'changePos': !MenuCtrl.disabled}")
					.porjects_lable Your projects:
					.project_item(ng-repeat = "project in MenuCtrl.userProjects",ng-click = "MenuCtrl.setProject(project._id)",ng-class = "{'chosen' : MenuCtrl.projEq(project._id)}") {{project.title}}


