@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
.side-menu-wrapper
    height 100%
    position fixed
    left 0
    top 0
    z-index 10
    *
        box-sizing border-box
    .burger
        color black
        display none
    .fa
        position: relative;
        display: table-cell;
        color #E4F1FE
        width: 50px;
        height: 35px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
    .side-menu
        padding-top 60px
        height 100%
        background-color #67809F;
        position: absolute;
        padding-bottom 50px;
        left: 0;
        width: 185px;
        // overflow: hidden;
        -webkit-transition: width 0.2s linear;
        transition: width 0.2s linear;
        -webkit-transform: translateZ(0) scale(1, 1);
        z-index: 1000;
    .side-menu > ul
        margin: 20px 0;
    .side-menu li 
        transition 0.2s;
        // overflow hidden;
        position: relative;
        display: block;
        width: 250px;
        cursor pointer
        &:hover
            .fa
                color black
        &.lastItem
            margin-bottom 20px
            padding-bottom 10px
            a
                border-bottom 2px dashed white
    .changeProject
        .projects_change
            max-height 80vh
            overflow-y auto
            font-family "Montserrat"
            font-size 15px
            color white
            background-color #545861;
            position absolute;
            width auto
            left 185px
            transform translateY(-100%)
            padding 5px
            transition all 0.5s ease-out
            .porjects_lable
                font-family "Montserrat"
                font-size 1.1em
                padding 5px
                margin-bottom 5px
                white-space nowrap
            .project_item
                font-family "Montserrat"
                background-color #626378
                font-size 1.1em
                padding 5px
                margin-bottom 5px
                white-space nowrap
                overflow hidden
                text-overflow ellipsis
                &:hover
                    background-color: #5fa2db;
            .chosen
                background-color #2E8F35
                cursor default
                &:hover
                    background-color #2E8F35
        &:not(:hover)
            .projects_change
                display none
        &:hover
            .projects_change
                display block
        .changePos
            top 0
            transform translateY(0%)
    .side-menu li > a
        overflow hidden;
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: #E4F1FE
        width: 185px;
        font-family: "Montserrat";
        font-size: 15px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    .side-menu .nav-text
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 125px;
        font-family: "Montserrat", sans-serif;
    .no-touch .scrollable.hover
        overflow-y: hidden;
    .no-touch .scrollable.hover:hover
        overflow-y: auto;
        overflow: visible;
    a:hover,a:focus
        text-decoration: none;
    nav
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    nav ul,nav li
        outline: 0;
        margin: 0;
        padding: 0;
    .side-menu li:hover > a, nav.side-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a
        color: #fff;
        background-color: #5fa2db;

@media only screen  and (max-width : 1000px), screen and (max-device-width : 1000px)
    .side-menu-wrapper
        height auto
        width 100vw
        display flex
        z-index 101
        .changeProject
            .projects_change
                transform translateY(0%)
                position relative
                border-top 2px dashed white
                left -5px
                width 100vw
        .burger
            display flex
            justify-content flex-start
            cursor pointer
            align-items center
            padding 10px
            width 100%
            position absolute
            z-index 101
            .fa
                font-size 3em
        .fa
            padding-right 15px
            padding-left 5px
        .side-menu
            //- padding-top 0px
            width 100%
            height auto
            overflow auto
            margin-top 60px
            display none 
            z-index: 101;
            padding-top 0px
            li 
                width auto
                margin-left 5px
            .nav-text

                width  100%
    .show
        display block
@media only screen  and (max-width : 720px), screen and (max-device-width : 720px)
    .side-menu-wrapper
        .changeProject
            .projects_change
                font-size 1.7em
        .side-menu
            max-height 100vh
            overflow auto
            .fa
                display none
            li
                a
                    font-size 2.5em
@media only screen  and (max-width : 480px), screen and (max-device-width: 480px)
    .side-menu-wrapper
        .side-menu
            max-height 100vh
            overflow auto
            .fa
                display none
            margin-top 60px
            li
                a
                    font-size 2em