.reports-wrapper
    .row.center-xs
        .col-xs-12.col-md-12.reports-holder
            .row.reports-header
                h2.col-xs-12 Reports
            .row.generate-holder.center-xs
                h3.col-xs-6.quick-title Quickly report generating
                .col-xs-12
                   .row
                        span(ng-link = "['Reports Add']").button.btn.col-xs-4.col-xs-offset-4 Generate
            .row.reports-recent
                .col-xs-12
                    .row.start-xs
                        span.chapter-title.col-xs-10 Recent
                            .fa.fa-clock-o
                    .row.center-xs
                        table.col-xs-12.review-table(ng-show="reports.recentReports.length>0")
                            tr.row.t-head
                                td.col-xs-3 Title
                                td.col-xs-5 Description
                                td.col-xs-2 Created
                            tr.row.t-body(ng-repeat = "r in reports.recentReports track by $index")
                                td.col-xs-3 {{r.title}}
                                td.col-xs-5 {{r.description}}
                                td.col-xs-2 {{r.creationDate | date : "dd/MM/y"}}
                                td.col-xs-2
                                    .row.around-xs
                                        span.col-xs-4.fa.fa-eye.button.f-btn.view-btn(ng-link = "['Reports Edit', {id: reports.recentReports[$index]._id}]")
                                        span.col-xs-4.fa.fa-trash.button.f-btn.delete-btn(ng-click='reports.deleteReport(reports.recentReports[$index]._id)')
                        h4.col-xs-12.center-xs(ng-show="reports.recentReports.length==0") You don't have reports yet
                    .row(ng-show="reports.recentReports")
                        .col-xs-1.col-xs-offset-11.button.btn( ng-click='reports.manageMore("recent")' ng-hide="((reports._reports.length==reports.recentReports.length) && !reports.isRecentMore) || reports.recentReports.length==0 ") {{reports.isRecentMore ? 'Less' : 'More'}}
            .row.reports-samples
                .col-xs-12
                    .row.start-xs
                        span.chapter-title.col-xs-10 Samples
                            .fa.fa-bookmark-o
                    .row
                        .col-xs-12.masonry
                            .item(ng-repeat = "r in reports.savedReports track by $index")
                                .row.start-xs.middle-xs.brd-bt
                                    .col-xs-8.item-title {{r.title}}
                                    .col-xs-4
                                        .row.around-xs
                                            span.col-xs-4.fa.fa-eye.button.f-btn.view-btn(ng-link = "['Reports Edit', {id: reports.savedReports[$index]._id}]")
                                            span.col-xs-4.fa.fa-trash.button.f-btn.delete-btn(ng-click='reports.deleteReport(reports.savedReports[$index]._id)')
                                br
                                .row.start-xs.item-row(ng-show = "r.participants")
                                    .col-xs-4 
                                        span.row.item-def Users:
                                    .col-xs-8
                                        span.row.item-value {{r.participants.join(',')}}
                                hr
                                .row.start-xs.item-row(ng-show = "r.types")
                                    .col-xs-4
                                        span.row.item-def Type:
                                    .col-xs-8
                                        span.row.item-value {{r.types.join(', ')}}
                                hr
                                .row.start-xs.item-row(ng-show = "r.dateRange")
                                    .col-xs-4
                                        span.row.item-def Dates:
                                    .col-xs-8
                                        span.row.item-value {{r.dateRange[0]?r.dateRange[0]:undefined | date : 'dd/MM/y'}} - {{r.dateRange[1]?r.dateRange[1]:undefined | date : 'dd/MM/y'}}

                    .row
                        .col-xs-1.col-xs-offset-11.button.btn(ng-click='reports.manageMore("saved")' ng-hide="(reports.savedReports.length==reports._saved.length) && !reports.isSavedMore ") {{reports.isSavedMore ? 'Less' : 'More'}}
