.reports-wrapper
    .row.center-xs
        .col-xs-12.col-md-12.reports-holder
            .row.reports-header
                h2.col-xs-12 Report Generating
                //.col-xs-1.col-xs-offset-1.fa.fa-close.button.font-button(ng-link="['Reports']")
            .row.generate-holder.center-xs
                .col-xs-12
                    .row.center-xs
                        .col-xs-11
                            .row.generate-item-header.middle-xs
                                .col-xs-2.gen-title Title:
                                .col-xs-2.col-xs-offset-4.center-xs.gen-title Created:
                                .col-xs-2.gen-title {{reportEdit.creationDate | date: 'dd/MM/y'}}
                                span.col-xs-1.col-xs-offset-1.button.f-btn.fa.fa-star-o.center-xs(ng-class ="{'fa-star-o': !reportEdit.isSaved, 'fa-star': reportEdit.isSaved}" ng-click="reportEdit.manageReportSaving()")
                                input(type='text' ng-model="reportEdit.title").col-xs-12
                            .row.generate-item-header.middle-xs
                                .col-xs-12.gen-title Description:
                                input(type='text' ng-model='reportEdit.description' placeholder="You report description").col-xs-12
                            .row.generate-item-header.middle-xs.between-xs
                                .col-xs-2.gen-title Type:
                                .col-xs-9.generate-item-holder.hidden-gen {{reportEdit.types.length==0?"Click on type(s) to add":""}}
                                    .generate-item.button.btn.type-btn(ng-click='reportEdit.gui.manageItem($index, reportEdit.types, reportEdit.typeSamples, "type", reportEdit.checkin)' ng-repeat = 't in reportEdit.types track by $index') {{t}}
                                        span &nbsp;&#xf068
                                .col-xs-1.fa.button.f-btn.view-btn(ng-class = '{"fa-angle-left": !reportEdit.gui.isTypePanel, "fa-angle-down": reportEdit.gui.isTypePanel}' ng-click='reportEdit.gui.manageTypePanel()')
                            .row
                                .col-md-8.col-md-offset-2.col-xs-12.col-lg-6.col-lg-offset-3.generate-item-holder(ng-show='reportEdit.gui.isTypePanel')
                                    span.generate-item.button.btn.type-btn(ng-click='reportEdit.gui.manageItem($index, reportEdit.typeSamples, reportEdit.types, "type", reportEdit.checkin, true)' ng-repeat = 't in reportEdit.typeSamples track by $index') {{t}}
                                        span &nbsp;&#xf067
                            hr
                            .row.generate-item-header.middle-xs.between-xs(ng-show="reportEdit.checkin.isCheckinPick")
                                .col-xs-2.gen-title Checkins:
                                .col-xs-9.generate-item-holder.hidden-gen {{reportEdit.checkin.report.length==0?"Click on question(s) to add":""}}
                                .col-xs-1.fa.button.f-btn.view-btn(ng-class = '{"fa-angle-left": !reportEdit.gui.isCheckinPanel, "fa-angle-down": reportEdit.gui.isCheckinPanel}' ng-click='reportEdit.gui.manageCheckinPanel()')
                            .row(ng-show="reportEdit.checkin.isCheckinPick")
                                .col-xs-12.generate-item-holder(ng-show='reportEdit.gui.isCheckinPanel')
                                    span.generate-item.button.btn.type-btn( ng-repeat = 'c in reportEdit.checkin.questions track by $index' ng-click="reportEdit.gui.manageArrayItems(c._id, reportEdit.checkin.report)" ng-class="{'item-out-group': reportEdit.checkin.report.indexOf(c._id)!=-1, 'item-in-group': 'reportEdit.checkin.report.indexOf(c._id)==-1'}") {{c.question}}
                                        span {{reportEdit.checkin.report.indexOf(c._id)==-1?"&#xf067":"&#xf068"}}
                            hr(ng-show="reportEdit.checkin.isCheckinPick")
                            .row.generate-item-header.middle-xs.between-xs
                                .col-xs-2.gen-title User:
                                .col-xs-9.generate-item-holder.hidden-gen {{reportEdit.users.length==0?"Click on user(s) to add":""}}
                                    span.generate-item.button.btn.type-btn(ng-click='reportEdit.gui.manageItem($index, reportEdit.users, reportEdit.userSamples, "user")' ng-repeat = 'u in reportEdit.users track by $index') {{u}}
                                        span &nbsp;&#xf068
                                .col-xs-1.fa.button.f-btn.view-btn(ng-class = '{"fa-angle-left": !reportEdit.gui.isUserPanel, "fa-angle-down": reportEdit.gui.isUserPanel}' ng-click='reportEdit.gui.manageUserPanel()')
                            .row
                                .col-md-8.col-md-offset-2.col-xs-12.col-lg-6.col-lg-offset-3.generate-item-holder(ng-show='reportEdit.gui.isUserPanel')
                                    span.generate-item.button.btn.type-btn(ng-click='reportEdit.gui.manageItem($index, reportEdit.userSamples, reportEdit.users, "user")' ng-repeat = 'u in reportEdit.userSamples track by $index') {{u}}
                                        span &nbsp;&#xf067
                            hr
                            .row.generate-item-header.middle-xs
                                .col-xs-2.gen-title Date:
                                .col-xs-2.center-xs From:
                                input(type="date" ng-model='reportEdit.dateRange[0]').col-xs-3
                                .col-xs-1.col-xs-1.center-xs To:
                                input(type="date" ng-model='reportEdit.dateRange[1]').col-xs-3
                            hr
                    .row.center-xs
                        span.button.btn.col-xs-5(ng-click='reportEdit.reportGenerate()') Generate
                        span.button.btn.col-xs-2.col-xs-offset-1.delete-btn(ng-link="['Reports']") Back
                    .row.start-xs(ng-show='reportEdit.isGenerated')
                        br
                        span.chapter-title.col-xs-10 History
                            .fa.fa-history
                        span.chapter-title.col-xs-1.end-xs Total:
                        span.chapter-title.col-xs-1.end-xs {{reportEdit.history.length}}
                        .col-xs-12
                            .row.history-item(ng-repeat='h in reportEdit.history track by $index')
                                .col-xs-12
                                    .row
                                        .col-xs-12
                                            .row.his-head
                                                .col-xs-3 Type
                                                .col-xs-4 Title
                                                .col-xs-4(ng-show='h._type=="checkin"') Question
                                                .col-xs-4(ng-show='(h._type!="checkin" && h._type!="event")') Author
                                                .col-xs-4(ng-show='h._type=="event"')
                                                .col-xs-1.fa.fa-eye.button.f-btn
                                            .row.his-body
                                                .col-xs-3 {{h._type.toUpperCase()}}
                                                .col-xs-4 {{h.title}}
                                                .col-xs-5(ng-show='h._type=="checkin"') {{h.question}}
                                                .col-xs-5(ng-show='h._type!="checkin"') {{(h.author.firstName?h.author.firstName:"")+(h.author.secondName?h.author.secondName:"")}}
                                    .row
                                        .col-xs-12
                                            .row.his-head
                                                .col-xs-3(ng-show="h._type=='message'") Date
                                                .col-xs-3(ng-show="h._type=='event'") Start Date
                                                .col-xs-3(ng-show="h._type=='event'") End Date
                                                .col-xs-3(ng-show="h._type=='task'") Date
                                                .col-xs-3(ng-show="h._type=='task'") Status
                                                .col-xs-3(ng-show="h._type=='checkin'") Time
                                                .col-xs-3(ng-show="h._type=='checkin'") Frequency
                                                .col-xs-6(ng-show="h._type!='message'") Participants
                                            .row.his-body
                                                .col-xs-3(ng-show="h._type=='message'") {{h.date | date: 'dd/MM/y'}}
                                                .col-xs-3(ng-show="h._type=='event'") {{h.startDate | date: 'dd/MM/y'}}
                                                .col-xs-3(ng-show="h._type=='event'") {{h.endDate | date: 'dd/MM/y'}}
                                                .col-xs-3(ng-show="h._type=='task'") {{h.dateCreated | date: 'dd/MM/y'}}
                                                .col-xs-3(ng-show="h._type=='task'") {{h.isFinished?'Done':'In progress'}}
                                                .col-xs-3(ng-show="h._type=='checkin'") {{h.time}}
                                                .col-xs-3(ng-show="h._type=='checkin'") {{h.frequency}}
                                                .col-xs-6(ng-show="h._type!='message'") {{h._type!='message'?reportEdit.gui.arrayToString(h.participants):""}}