section.reports-wrapper
    section.row
        section.col-xs-8.col-xs-offset-2.reports-holder
          section.row.reports-header
            h3.col-xs-3.center-xs Project name
            |                     
            h3.col-xs-6.center-xs Reports
          |                 
          section.row.reports-tools
            span.col-xs-2.start-xs Show report:
            |                     
            section.col-xs-9
              section.row
                section.col-xs-4.center-xs
                  span.row.column-title.center-xs For user(s)
                  |                                 
                  section.row
                    ul.col-xs-12
                      li.row
                        input.col-xs-2.col-xs-offset-1(type='checkbox')
                        span.col-xs-6 All
                      |                                         
                      li.row
                        input.col-xs-2.col-xs-offset-1(type='checkbox')
                        span.col-xs-6 User1
                      |                                         
                      li.row
                        input.col-xs-2.col-xs-offset-1(type='checkbox')
                        span.col-xs-6 User2
                |                             
                section.col-xs-4.center-xs
                  span.row.column-title.center-xs For element(s)
                  |                                 
                  section.row
                    ul.col-xs-12
                      li.row
                        input.col-xs-2.col-xs-offset-1(type='checkbox')
                        span.col-xs-6 All
                      |                                         
                      li.row
                        input.col-xs-2.col-xs-offset-1(type='checkbox')
                        span.col-xs-6 Message
                      |                                         
                      li.row
                        input.col-xs-2.col-xs-offset-1(type='checkbox')
                        span.col-xs-6 Check-In
                      |                                         
                      li.row
                        input.col-xs-2.col-xs-offset-1(type='checkbox')
                        span.col-xs-6 Event
                      |                                         
                      li.row
                        input.col-xs-2.col-xs-offset-1(type='checkbox')
                        span.col-xs-6 Task
                |                             
                section.col-xs-4.center-xs
                  span.row.column-title.center-xs For date
                  |                                 
                  section.row
                    ul.col-xs-12
                      li.row
                        span.col-xs-5 after
                        |                                             
                        select#after-date.col-xs-7(name='')
                          option 13 May 2016
                      |                                         
                      li.row
                        span.col-xs-5 before
                        |                                             
                        select#after-date.col-xs-7(name='')
                          option 13 May 2016
          |                 
          section.row.center-xs
            section.col-xs-4.button Generate
          |                 
          section.row.reports-body.center-xs
            section.col-xs-7
              section.row
                h3.col-xs-6.col-xs-offset-3 13 May 2016
              |                         
              section.row
                span.col-xs-3  Title
                |                             
                span.col-xs-4 Name Surname
                |                             
                span.col-xs-1.fa.fa-paperclip
                |                             
                span.col-xs-1.fa.fa-comment
                |                             
                span.col-xs-1.fa.fa-rss
                |                             
                span.col-xs-2 Time
              |                         
              section.row
                section.col-xs-12
                  section.row.start-xs 
                    span.col-xs-8 Set up external auth server
                    |                                     
                    span.col-xs-1.fa.fa-comment
                    |                                     
                    span.col-xs-1.fa.fa-rss
                  |                                 
                  section.row.start-xs 
                    span.col-xs-8
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos officia eveniet recusandae iusto nisi consequuntur quia. Enim rerum repellendus delectus, assumenda in similique voluptates quo, sint recusandae quaerat facere reiciendis.
                    |                                     
                    span.col-xs-2 UserName1
                    |                                     
                    span.col-xs-2 10:50
