.reports-wrapper
    .row.center-xs
        .col-xs-12.col-md-12.reports-holder
            .row.reports-header
                h2.col-xs-12 Report Generating
                //.col-xs-1.col-xs-offset-1.fa.fa-close.button.font-button(ng-link="['Reports']")
            .row.generate-holder.center-xs
                .col-xs-12
                    .row.center-xs
                        .col-xs-12
                            .row.generate-item-header.middle-xs
                                .col-xs-2.gen-title Title:
                                .col-xs-8
                                span.col-xs-1.col-xs-offset-1.button.f-btn.fa.fa-star-o.center-xs(ng-class ="{'fa-star-o': !reportAdd.isSaved, 'fa-star': reportAdd.isSaved}" ng-click="reportAdd.manageReportSaving()" title="Save report template")
                                input(type='text' ng-model="reportAdd.title" placeholder="You report title").col-xs-12
                            .row.generate-item-header.middle-xs
                                .col-xs-12.gen-title Description:
                                input(type='text' ng-model="reportAdd.description" placeholder="You report description").col-xs-12
                            .row.generate-item-header.middle-xs.between-xs
                                .col-xs-2.gen-title Type:
                                .col-xs-8.generate-item-holder.hidden-gen
                                    span.generate-item.button(ng-click='reportAdd.gui.manageItem($index, reportAdd.types, reportAdd.typeSamples, "type", reportAdd.checkin)' ng-repeat = 't in reportAdd.types track by $index') {{t}}
                                        span &#xf068
                                .col-xs-1.fa.button.f-btn.view-btn(ng-class = '{"fa-angle-left": !reportAdd.gui.isTypePanel, "fa-angle-down": reportAdd.gui.isTypePanel}' ng-click='reportAdd.gui.manageTypePanel()')
                            .row
                                .col-xs-12.generate-item-holder(ng-show='reportAdd.gui.isTypePanel')
                                    span.generate-item.button(ng-click='reportAdd.gui.manageItem($index, reportAdd.typeSamples, reportAdd.types, "type", reportAdd.checkin, true)' ng-repeat = 't in reportAdd.typeSamples track by $index') {{t}}
                                        span &#xf067

                            .row.generate-item-header.middle-xs.between-xs(ng-show="reportAdd.checkin.isCheckinPick")
                                .col-xs-2.gen-title Checkins:
                                .col-xs-8.generate-item-holder.hidden-gen
                                .col-xs-1.fa.button.f-btn.view-btn(ng-class = '{"fa-angle-left": !reportAdd.gui.isCheckinPanel, "fa-angle-down": reportAdd.gui.isCheckinPanel}' ng-click='reportAdd.gui.manageCheckinPanel()')
                            .row(ng-show="reportAdd.checkin.isCheckinPick")
                                .col-xs-12.generate-item-holder(ng-show='reportAdd.gui.isCheckinPanel')
                                    span.generate-item.middle-xs( ng-repeat = 'c in reportAdd.checkin.questions track by $index' ng-click="reportAdd.gui.manageArrayItems(c._id, reportAdd.checkin.report)" ng-class="{'item-out-group': reportAdd.checkin.report.indexOf(c._id)!=-1, 'item-in-group': 'reportAdd.checkin.report.indexOf(c._id)==-1'}") {{c.question}}
                                        span {{reportAdd.checkin.report.indexOf(c._id)==-1?"&#xf067":"&#xf068"}}
                            .row.generate-item-header.middle-xs.between-xs
                                .col-xs-2.gen-title User:
                                .col-xs-8.generate-item-holder.hidden-gen
                                    span.generate-item(ng-click='reportAdd.gui.manageItem($index, reportAdd.users, reportAdd.userSamples, "user")' ng-repeat = 'u in reportAdd.users track by $index') {{u}}
                                        span &#xf068
                                .col-xs-1.fa.button.f-btn.view-btn(ng-class = '{"fa-angle-left": !reportAdd.gui.isUserPanel, "fa-angle-down": reportAdd.gui.isUserPanel}' ng-click='reportAdd.gui.manageUserPanel()')
                            .row
                                .col-xs-12.generate-item-holder(ng-show='reportAdd.gui.isUserPanel')
                                    span.generate-item.middle-xs(ng-click='reportAdd.gui.manageItem($index, reportAdd.userSamples, reportAdd.users, "user")' ng-repeat = 'u in reportAdd.userSamples track by $index') {{u}}
                                        span &#xf067
                            .row.generate-item-header.middle-xs
                                .col-xs-2.gen-title Date:
                                .col-xs-2.center-xs From:
                                input(type="date" ng-model='reportAdd.dateRange[0]').col-xs-3
                                .col-xs-1.col-xs-1.center-xs To:
                                input(type="date" ng-model='reportAdd.dateRange[1]').col-xs-3
                    .row.center-xs
                        span.button.btn.col-xs-5(ng-click='reportAdd.generateReport()') Generate
                        span.button.btn.col-xs-2.col-xs-offset-1.delete-btn(ng-link="['Reports']") Back
                    .row.start-xs(ng-show='reportAdd.isGenerated')
                        span.chapter-title.col-xs-10 History
                            .fa.fa-history
                        span.chapter-title.col-xs-1.end-xs Total:
                        span.chapter-title.col-xs-1.end-xs {{reportAdd.history.length}}
                        .col-xs-12
                            .row.history-item(ng-repeat='h in reportAdd.history track by $index')
                                .col-xs-12
                                    .row
                                        .col-xs-12
                                            .row.his-head
                                                .col-xs-3 Type
                                                .col-xs-4 Title
                                                .col-xs-4(ng-show='h._type=="checkin"') Question
                                                .col-xs-4(ng-show='(h._type!="checkin" && h._type!="event")') Author
                                                .col-xs-4(ng-show='h._type=="event"')
                                                .col-xs-1.fa.fa-eye.button.f-btn
                                            .row.his-body
                                                .col-xs-3 {{h._type.toUpperCase()}}
                                                .col-xs-4 {{h.title}}
                                                .col-xs-5(ng-show='h._type=="checkin"') {{h.question}}
                                                .col-xs-5(ng-show='h._type!="checkin"') {{(h.author.firstName?h.author.firstName:"")+(h.author.secondName?h.author.secondName:"")}}
                                    .row
                                        .col-xs-12
                                            .row.his-head
                                                .col-xs-3(ng-show="h._type=='message'") Date
                                                .col-xs-3(ng-show="h._type=='event'") Start Date
                                                .col-xs-3(ng-show="h._type=='event'") End Date
                                                .col-xs-3(ng-show="h._type=='task'") Date
                                                .col-xs-3(ng-show="h._type=='task'") Status
                                                .col-xs-3(ng-show="h._type=='checkin'") Time
                                                .col-xs-3(ng-show="h._type=='checkin'") Frequency
                                                .col-xs-6(ng-show="h._type!='message'") Participants
                                            .row.his-body
                                                .col-xs-3(ng-show="h._type=='message'") {{h.date | date: 'dd/MM/y'}}
                                                .col-xs-3(ng-show="h._type=='event'") {{h.startDate | date: 'dd/MM/y'}}
                                                .col-xs-3(ng-show="h._type=='event'") {{h.endDate | date: 'dd/MM/y'}}
                                                .col-xs-3(ng-show="h._type=='task'") {{h.dateCreated | date: 'dd/MM/y'}}
                                                .col-xs-3(ng-show="h._type=='task'") {{h.isFinished?'Done':'In progress'}}
                                                .col-xs-3(ng-show="h._type=='checkin'") {{h.time}}
                                                .col-xs-3(ng-show="h._type=='checkin'") {{h.frequency}}
                                                .col-xs-6(ng-show="h._type!='message'") {{h._type!='message'?reportAdd.gui.arrayToString(h.participants):""}}
                                                

