.reports-wrapper
    .row.center-xs
        .col-xs-12.col-md-10.reports-holder
            .row.reports-header
                h3.col-xs-10 Report Generating
                .col-xs-1.col-xs-offset-1.fa.fa-close.button.font-button(ng-link="['Reports']")
            .row.generate-holder.center-xs
                .col-xs-12
                    .row.center-xs
                        .col-xs-11
                            .row.generate-item-header.middle-xs
                                .col-xs-2 Title:
                                input(type='text' ng-model="reportAdd.title").col-xs-8
                                span.col-xs-1.col-xs-offset-1.button.f-btn.fa.fa-star-o.center-xs(ng-class ="{'fa-star-o': !reportAdd.isSaved, 'fa-star': reportAdd.isSaved}" ng-click="reportAdd.manageReportSaving()")
                            .row.generate-item-header.middle-xs
                                .col-xs-2 Description:
                                input(type='text' ng-model="reportAdd.description").col-xs-10
                            .row.generate-item-header.middle-xs
                                .col-xs-2 Type:
                                .col-xs-9.generate-item-holder
                                    span.generate-item(ng-click='reportAdd.gui.manageItem($index, reportAdd.types, reportAdd.typeSamples)' ng-repeat = 't in reportAdd.types track by $index') {{t}}
                                        span &#xf068
                                .col-xs-1.fa.button.f-btn(ng-class = '{"fa-angle-left": !reportAdd.gui.isTypePanel, "fa-angle-down": reportAdd.gui.isTypePanel}' ng-click='reportAdd.gui.manageTypePanel()')
                            .row
                                .col-xs-12.generate-item-holder(ng-show='reportAdd.gui.isTypePanel')
                                    span.generate-item(ng-click='reportAdd.gui.manageItem($index, reportAdd.typeSamples, reportAdd.types)' ng-repeat = 't in reportAdd.typeSamples track by $index') {{t}}
                                        span &#xf067

                            .row.generate-item-header.middle-xs
                                .col-xs-2 User:
                                .col-xs-9.generate-item-holder
                                    span.generate-item(ng-click='reportAdd.gui.manageItem($index, reportAdd.users, reportAdd.userSamples)' ng-repeat = 'u in reportAdd.users track by $index') {{u}}
                                        span &#xf068
                                .col-xs-1.fa.button.f-btn(ng-class = '{"fa-angle-left": !reportAdd.gui.isUserPanel, "fa-angle-down": reportAdd.gui.isUserPanel}' ng-click='reportAdd.gui.manageUserPanel()')
                            .row
                                .col-xs-12.generate-item-holder(ng-show='reportAdd.gui.isUserPanel')
                                    span.generate-item.middle-xs(ng-click='reportAdd.gui.manageItem($index, reportAdd.userSamples, reportAdd.users)' ng-repeat = 'u in reportAdd.userSamples track by $index') {{u}}
                                        span &#xf067
                            .row.generate-item-header.middle-xs
                                .col-xs-2 Date:
                                .col-xs-2.center-xs From:
                                input(type="date" ng-model='reportAdd.dateRange[0]').col-xs-3
                                .col-xs-1.col-xs-1.center-xs To:
                                input(type="date" ng-model='reportAdd.dateRange[1]').col-xs-3
                    .row
                        span.button.btn.col-xs-4.col-xs-offset-4(ng-click='reportAdd.generateReport()') Generate
                    .row.start-xs(ng-show='reportAdd.isGenerated')
                        span.chapter-title.col-xs-10 History
                            .fa.fa-history

