@import "../../../public/libs/css/generalComponentsStyle.styl"
.reports-wrapper
    display block
    width 100%
    .row
        margin 0
    hr
        margin 5
        border-top 1px solid border-grey
    *
        box-sizing border-box
        padding 0px
    .row, [class^="col-"]
        padding 0px
    .reports-holder
        padding-left  2%
        padding-right   2%
        padding-bottom 1%
        border 1px solid border-grey
        border-radius 10px
        background-color background-white
        box-shadow 0px 5px 20px 2px  shadow-grey
    .reports-header
        border-bottom  1px solid border-grey
        h3
            font-family "Montserrat"
            font-size 30px
            text-align left
        padding 1%
    .reports-recent
        table
            border-radius 5px
            box-shadow 0px 2px 3px 2px  border-grey
            td
                padding 1%
                text-align left
                word-break break-all
            .t-head
                font-family "Montserrat"
                font-size 20px
                background-color border-grey
                td
                    border-right 1px solid white
            .t-body
                
                font-size 18px
                border-bottom 1px solid border-grey
                td
                    font-family "Open Sans"
                    border-right 1px solid border-grey
    .reports-samples
        .masonry
            -moz-column-count 2
            -webkit-column-count  2
            -moz-column-gap 1em
            -webkit-column-gap 1em
        .item
            display inline-block
            background-color #d8d8d8
            margin  1%
            padding  2%
            width 100%
            border 2px solid main-blue
            border-radius 5px
            box-shadow 0px 2px 3px 2px  border-grey
            font-family "Montserrat"
            font-size 18px
            .item-title
                font-size 20px
                word-break break-all
            .item-def
                font-weight bold
                 font-size 20px
            .item-value
                 font-family "Open Sans"
                 flex-wrap wrap
            .item-row
                margin-bottom 2%
    .generate-holder
        .generate-item-header
            background-color #d8d8d8
            border-bottom 1px solid border-grey
            font-size 18px
            font-family "Montserrat"
            padding 1%
            text-align left
            border-radius 5px
            [type='date']
                font-size 15px
        .generate-item-holder
            padding 1%
            flex-wrap wrap
            display flex
            align-items center
            justify-content space-around
        .generate-item
            position relative
            width -webkit-fit-content
            text-indent  2%
            cursor pointer
            background-color add-text-color
            padding 1%
            margin 1%
            border-radius 5px
            box-shadow 0px 2px 3px 2px  border-grey
            font-size 18px
            font-family "Open Sans"
            color black
            span
                text-indent 1%
                position absolute
                left 0
                top 20%
                color main-blue
                display inline-block
                font-family "FontAwesome"
    .button
        button()
    .btn
        font-family "Montserrat"
        height 40px
        font-size 20px
     .f-btn
        font-family "FontAwesome" 
        height 40px
        font-size 20px
    .chapter-title
        font-family "Montserrat"
        font-size 25px
        div
            padding 2%
