.projectwrapper
  .row.center-xs
    .main.col-xs-8
      h1 Project Settings
      .changeProj
        button(ng-click="proj.getProjects()",ng-if="proj.flag") 
          p Change project
        select(ng-if="!proj.flag",ng-model="proj.currentProjectId",ng-change="proj.setProject()")
          option(value = "" disable) Not selected
          option(ng-repeat="project in proj.userProjects track by $index" value='{{project._id}}') {{project.title}}
      form(name='projectEdit',ng-if="proj.currentProjectId!=''").row.center-xs
        .wrap
          label
            p Name
            i.fa.fa-pencil(ng-click="proj.editName=true",ng-if="!proj.editName && proj.isUserAdmin")
            i.fa.fa-check(ng-click="proj.edit('title')",ng-if="proj.editName")
          p(ng-if="!proj.editName") {{proj.currentProject.title}}
          input(type="text",ng-model="proj.currentProject.title",ng-if="proj.editName")
        .wrap
          label
            p Description
            i.fa.fa-pencil(ng-click="proj.editDesc=true",ng-if="!proj.editDesc && proj.isUserAdmin")
            i.fa.fa-check(ng-click="proj.edit('description')",ng-if="proj.editDesc")
          p.description(ng-if="!proj.editDesc") {{proj.currentProject.description}}
          textarea(type="text",ng-model="proj.currentProject.description",ng-if="proj.editDesc")
        .wrap
          label
            p Participants:
          .participants(ng-model="proj.projectParticipants")
            .btn-group.open(ng-repeat="participator in proj.projectParticipants track by $index") 
              a.participant
                i.fa.fa-user.fa-2x
                span {{participator.firstName}} {{participator.lastName}}
                i.fa.fa-times.fa-fw(ng-click="proj.removeParticipant(participator._id)")
            
            a.addUser(ng-click="proj.addParticipatorFlag=true;")
              i.fa.fa-plus(aria-hidden='true')
              lable Add Participant
            select(ng-if="proj.addParticipatorFlag",ng-model="proj.participatorToAdd",ng-change="proj.addParticipator();")
              option(value="") Select User to Add
              option(ng-repeat="participator in proj.users track by $index",value="{{participator._id}}") {{participator.email}} 
        .wrap
          label
            p Admins:
          .participants(ng-model="proj.projectAdmins")
            .btn-group.open(ng-repeat="admin in proj.projectAdmins track by $index") 
              a.participant
                i.fa.fa-user.fa-2x
                span {{admin.firstName}} {{admin.lastName}}
                i.fa.fa-times.fa-fw(ng-click="proj.removeAdmin(admin._id)")
            
            a.addUser(ng-click="proj.addAdminFlag=true;",ng-if="proj.isUserAdmin")
              i.fa.fa-plus(aria-hidden='true')
              lable Add Participant
            select(ng-if="proj.addAdminFlag",ng-model="proj.adminToAdd",ng-change="proj.addAdmin();")
              option(value="") Select User to Add
              option(ng-repeat="participator in proj.users track by $index",value="{{participator._id}}") {{participator.email}} 
        .wrap
          label
            p  Deadline:
            i.fa.fa-pencil(ng-click="proj.editDeadline=true",ng-if="!proj.editDeadline && proj.isUserAdmin")
            i.fa.fa-check(ng-click="proj.edit('deadline')",ng-if="proj.editDeadline")
          p(uib-datepicker-popup='{{format}}', datepicker-options = 'proj.datePickerOpt', ng-model='proj.dtDeadline', ng-required='true', close-text='Close', alt-input-formats='altInputFormats',is-open = 'proj.editDeadline', ng-change="proj.edit('deadline')") {{proj.dtDeadline | date: "dd.MM.yyyy"}}
        .wrap.last(ng-if="proj.isUserAdmin")
          .delete_button
            button.delete(ng-click="proj.modalToggle()") Delete project
          .confirming_modal(ng-if="proj.modalFlag")
            .background(ng-click="proj.modalToggle()")
            .window
              label Are you Sure?
              button.confirm(ng-click="proj.deleteProject()") Confirm
              button.cancel(ng-click="proj.modalToggle()") Cancel
      h1(ng-if="!proj.currentProjectId!=''").row.center-xs Pick your current project
