@import "../../../public/libs/css/generalComponentsStyle.styl"
.projectwrapper
	width 100%
	h1
		header-style()
	.main
		main-component()
		min-width 400px
		display flex
		flex-direction column
		justify-content center
		font-size 23px
		text-align justify
		form[name="projectEdit"]
			display flex
			flex-direction column
			float left
			clear left
			width 100%
			margin 30px 0 1.5em 0
			padding 0
			justify-content center
			label
				font-family "Montserrat"
				font-size 1.3em
				font-weight 400
				float left
				width 80%
				@media only screen  and (max-width : 480px), screen and (max-device-width: 480px)
					width 95%
				margin-right 0.5em
				display flex
				align-items center
				p
					margin 0
					margin-right 15px
				i
					cursor pointer
					transition all 0.2s ease-out
					&:hover
						color #1d8dbf
						
			.wrap
				align-items center
				float left
				clear left
				width 100%
				margin-bottom 2em
				display flex
				flex-direction column
				flex-wrap wrap
				box-sizing padding box
				min-height 110px
				
				// ---------------------------------------------------------------------------TITLE INPUT-------------------------------
				.inputNameWrapper
					width 80%
					@media only screen  and (max-width : 480px), screen and (max-device-width: 480px)
						width 100%
					position relative
					.inputWrapper
						width 100%
						cursor text
						background-color active-input
					i
						position absolute
						right 5px
						top 42px
						font-size 1.3em
						cursor pointer
						&:hover
							color #1d8dbf
				.inputWrapper
					background-color disable-input
					border none
					outline none
					text-align center
					border-bottom 4px solid border-color
					border-radius 4px
					font-size 1.3em
					color #34495E
					margin 35px 0 70px
					position relative
					cursor pointer
					padding 0
					width 80%
					@media only screen  and (max-width : 480px), screen and (max-device-width: 480px)
						width 100%
					padding-right 36px
					&.invalid
						border-bottom 4px solid #D24D57
					&:hover
						i
							color #1d8dbf
					i
						position absolute
						right 5px
						top 6px
						&:hover
							color #1d8dbf
					
				// -----------------------------------------------------------------------DESCRIPTION------------------------
				.projDescriptionWrapper
					width 80%
					margin-top 1em
					font-size 0.8em
					position relative
					&:hover
						i
							color #1d8dbf
					@media only screen  and (max-width : 480px), screen and (max-device-width: 480px)
						width 100%
					.description
						width 100%
						text-align left
						margin 35px 0 70px
						color text-input
						background-color disable-input
						border-bottom 4px solid border-color
						padding 2em 1em
						border-radius 12px
						padding-right 40px
						outline none
						word-wrap break-word
						cursor pointer
						p
							margin 0
					i
						font-size 1.7em
						position absolute
						right 14px
						top 47px
						cursor pointer
						color text-input
						&:hover
							color #1d8dbf
					.descEditor
						cursor text
						background-color active-input
						box-sizing border-box
						
								
				//  --------------------------------------------------------------------DATA-INPUT-----------
				.deadlineInput
					width 30%
					@media only screen  and (max-width : 1000px), screen and (max-device-width: 1000px)
						width 50%
					@media only screen  and (max-width : 480px), screen and (max-device-width: 480px)
						width 80%
					border-bottom 4px solid border-color
					border-radius 4px
					background-color disable-input
					margin 50px 0
					padding 9px 0
					position relative
					cursor pointer
					&:hover
						i
							color #1d8dbf
					& + div
						.uib-datepicker-popup
							.btn-group
								.btn-danger.btn
									display none
					&.active
						background-color active-input
					i
						position absolute
						top 12px
						right 9px
						font-size 1.3em
						cursor pointer
						&:hover
							color #1d8dbf
							
		//  -------------------------------------------------------------------------PARTICIPANTS------------------------------------
		.participants
			width 80%
			display flex
			margin 1em 0
			align-items flex-start
			align-content flex-start
			flex-wrap wrap
			min-height 100px
			margin-top 25px
			.btn-group.ng-enter,.btn-group.ng-leave
				-webkit-transition: 0.2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
				-moz-transition: 0.2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
				-ms-transition: 0.2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
				-o-transition: 0.2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
				transition: 0.2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
				position: relative;
				display: inline-flex;
			.btn-group.ng-enter,.btn-group.ng-leave.ng-leave-active
				opacity 1
				span
					text-overflow clip
					max-width 0px
				.participant
					border-bottom 0px solid border-color
					transform translateY(8px)
			.btn-group.ng-leave,.btn-group.ng-enter.ng-enter-active
				opacity 1
				span
					text-overflow clip
					max-width 360px
				.participant
					border-bottom 4px solid border-color
					transform translateY(0)
			.participant 
				background-color disable-input
				border none
				border-bottom 4px solid border-color
				border-radius 4px
				color text-input
				max-width 360px
				padding 7px 18px
				padding-right 12px
				text-align center
				text-decoration none
				display inline-flex
				justify-content center
				align-items center
				font-size 0.8em
				margin 10px 7px
				cursor pointer
				-webkit-transition: 0.1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
				-moz-transition: 0.1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
				-ms-transition: 0.1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
				-o-transition: 0.1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
				transition: 0.1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
				span
					display block
					white-space nowrap
					overflow hidden
					text-overflow ellipsis
					-webkit-transition: 0.2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
					-moz-transition: 0.2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
					-ms-transition: 0.2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
					-o-transition: 0.2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
					transition: 0.2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
				i
					margin-left 10px
					font-size 1.2em
				&:hover
					border-bottom 8px solid border-color
					transform translateY(-2px)
					margin 8px 7px
					i
						color #e57373
			.add
				padding-right 18px
				padding-left 12px
				height auto
				i
					margin-right 10px
					color #4DB6AC
				&:hover
					i
						color #4DB6AC
					
		// ---------------------------------------------------------------DELETE BUTTON-------------------------------------------
		.delete_button
			button
				button()
			display flex
			justify-content center
			align-items center
			padding 50px 0
			.delete
				font-family "Montserrat"
				font-size 24px
				padding 15px 50px
				--box-shadow-color #ab3c3c
				background-color #cb4e4e
		.confirming_modal
			button
				font-family "Montserrat"
				button()
			.background
				position fixed
				z-index 500
				background-color #212121
				opacity 0.5
				height 100vh
				width 100vw
				top 0
				left 0
			.window
				position fixed
				z-index 501
				top 35%
				left 35%
				background-color #f5f5f5
				width 30%
				padding 20px
				border-radius 10px
				label
					font-size 24px
					font-weight 600
					width 100%
					margin-bottom 20px
				.confirm
					display inline-block
					margin 5px 10px
					width 150px
					background-color #FF5252
				.cancel
					display inline-block
					margin 5px 10px
					width 150px
					background-color #212121
			



