.projectwrapper
  section.row.center-xs
    .main.col-xs-8
      h1 Project Settings
      .changeProj
        button(ng-click="proj.getProjects()",ng-if="proj.flag") Change project
        select(ng-if="!proj.flag",ng-model="proj.currentProject",ng-change="proj.setProject()")
          option(value = "" disable) Not selected
          option(ng-repeat="project in proj.userProjects track by $index" value='{{project._id}}') {{project.title}}
      .goto
        a(href='') Trash
        a(href='') Reports
      form(name='projectEdit').row.center-xs
        .wrap
          label
            p Name:
          input(type='text', name='projectName')
        .wrap
          label
            p Description
          textarea
        .wrap
          label
            p Participants:
            i.fa.fa-user(aria-hidden='true')
          .participants
            a(href='#')
              i.fa.fa-plus(aria-hidden='true')
        .wrap
          label
            p  Deadline:
            i.fa.fa-exclamation-triangle(aria-hidden='true')
          select#after-date.col-xs-6(name='')
            option 12 September 2016
            option 13 September 2016
        .wrap
          label
            p Delete project:
          .delete_button
            button.delete(ng-click="proj.modalToggle()") Delete
          .confirming_modal(ng-if="proj.modalFlag")
            .background(ng-click="proj.modalToggle()")
            .window
              label Are you Sure?
              button.confirm(ng-click="proj.deleteProject()") Confirm
              button.cancel(ng-click="proj.modalToggle()") Cancel
        .wrap
          button.col-xs-6(type='submit', form='projectEdit', value='Submit') Save
