user-list(user-data = 'proj.users', select-callback = 'proj.onUserSelect', parent-scope='proj', ng-if='proj.userListFlag')
user-list(user-data = 'proj.users', select-callback = 'proj.onAdminSelect', parent-scope='proj', ng-if='proj.adminListFlag')
.projectwrapper
  .row.center-xs
    .main.col-xs-12
      h1 Project Settings
      form(name='projectEdit',ng-if="proj.currentProjectId!=''",novalidate).row.center-xs
        //-  --------------------------------------------vv-------------------------------TITLE CELL----------------
        .wrap
          label
            p Title:
          p.inputWrapper(ng-if="!proj.editName", ng-click = "proj.editNameActivate()") {{proj.currentProject.title}}
            i.fa.fa-pencil(ng-if="!proj.editDesc && proj.isUserAdmin")
          .inputNameWrapper(ng-if="proj.editName")
            input.inputWrapper#projTitleInput(name="title",type="text",ng-model="proj.currentProject.title",required,ng-minlength="3" ng-maxlength="30", ng-class = "{'invalid': projectEdit.title.$invalid}")
            i.fa.fa-check(ng-click="proj.edit('title',projectEdit.title.$valid)",ng-if="!proj.editDesc && proj.isUserAdmin")
          //- p(ng-show="projectEdit.title.$invalid" class="help-block",ng-if="proj.editName") Title is required.
          //- p(ng-show="projectEdit.title.$error.minlength" class="help-block",ng-if="proj.editName") Title is too short.
          //- p(ng-show="projectEdit.title.$error.maxlength" class="help-block",ng-if="proj.editName") Title is too long.
        //- -----------------------------------------------------------------------------------DESCRIPTION CELL -----
        .wrap
          label
            p Description:
          .projDescriptionWrapper
            .description(ng-bind-html="proj.currentProject.description", ng-show='!proj.editDesc', ng-click = "proj.descToggle()")
            .description.descEditor(ui-tinymce="proj.tinyOptions",ng-model="proj.currentProject.description",ng-show='proj.editDesc')
            i.fa(ng-class = "{'fa-check': proj.editDesc,'fa-pencil': !proj.editDesc}",ng-click = "proj.descToggle()",ng-show="!proj.editName && proj.isUserAdmin && proj.isSelected()")
        //------------------------------------------------------------------------------ PARTICIPANTS CELL -----------------------------
        .wrap
          label
            p Participants:
          .participants
            .btn-group.open(ng-repeat="participator in proj.projectParticipants track by participator._id") 
              a.participant(ng-click="(proj.isUserAdmin && !proj.isUser(participator._id))?proj.removeParticipant(participator._id):null")
                span {{participator.firstName}} {{participator.lastName}}
                i.fa.fa-times(ng-if="proj.projectParticipants.length>1 && proj.isUserAdmin && !proj.isUser(participator._id)")
            .btn-group.open
              a.participant.add(ng-click = 'proj.userListFlag = true',ng-if="proj.isUserAdmin")
                i.fa.fa-plus(aria-hidden='true')
                span add user ...
            
        //----------------------------------------------------------- ADMINS CELL ------------------------------------------------
        .wrap
          label
            p Admins:
          .participants
            .btn-group.open(ng-repeat="admin in proj.projectAdmins track by admin._id") 
              a.participant(ng-click="(proj.projectAdmins.length>1 && proj.isUserAdmin && !proj.isUser(admin._id)) ? proj.removeAdmin(admin._id):null")
                span {{admin.firstName}} {{admin.lastName}}
                i.fa.fa-times(ng-if="proj.projectAdmins.length>1 && proj.isUserAdmin && !proj.isUser(admin._id)")
            .btn-group.open
              a.participant.add(ng-click = 'proj.adminListFlag = true',ng-if="proj.isUserAdmin")
                i.fa.fa-plus(aria-hidden='true')
                span add admin ...
        //-  -----------------------------------------------------------------------------DEADLINE CELL-----------------------------
        
        .wrap
          label
            p  Deadline:
          p.deadlineInput(uib-datepicker-popup='{{format}}', datepicker-options = 'proj.datePickerOpt', ng-model='proj.dtDeadline', ng-required='true', close-text='Close', alt-input-formats='altInputFormats',is-open = 'proj.editDeadline', ng-change="proj.edit('deadline',true)",ng-click = "proj.editDateToggle()", ng-class = "{'active': proj.editDeadline}") {{proj.dtDeadline | date: "dd.MM.yyyy"}} 
            i.fa(ng-class = "{'fa-pencil': !proj.editDeadline,'fa-check': proj.editDeadline}", ng-show = "proj.isUserAdmin")
        //- ----------------------------------------------------------------------------DELETE CELL----------------------------------
        .wrap.last(ng-if="proj.isUserAdmin")
          label
            p Removing:
          .delete_button
            button.delete(ng-click = "proj.callModal()") Delete project
      h1(ng-if="!proj.currentProjectId!=''").row.center-xs Pick your current project
