@import "../../../public/libs/css/generalComponentsStyle.styl"
.projectwrapper
  width 100%
  h1
    text-align center
  .changeProj
    display flex
    justify-content center
    margin-bottom 50px
    height 35px
    select
      height 140%
      width 50%
      border-radius 5px
      outline none
      font-family "Montserrat"
      font-size 18px
      font-weight 400
    
  .goto
    text-align center
    a 
      margin-left 5px
      margin-bottom 5px
  padding 1%
  button
    font-family "Montserrat"
    button()
  h1
    align-self center
    font-family "Montserrat"
    text-align left
    width 100%
    display inline-block
    font-weight bold
    font-size 30px
  .main
    padding 1%
    border 1px solid border-grey
    border-radius 10px
    background-color background-white 
    box-shadow 0px 5px 20px 2px  #808080
    display flex
    flex-direction column
    justify-content center
    font-family "Open Sans"
    font-weight 400
    font-size 23px
    text-align justify
    form[name="projectEdit"]
      display flex
      flex-direction column
      float left
      clear left
      width 100%
      margin 30px 0 1.5em 0
      padding 0
      button
        font-family "Montserrat"
        button()
      label
        float left
        width 7em
        margin-right 0.5em
        display flex
      .wrap
        float left
        clear left
        width 100%
        padding-bottom 1em
        display flex
        flex-direction row
        justify-content center
        flex-wrap wrap
      i
        align-self center
      input
        min-width 60%
        max-width 75%
      textarea
        min-width 60%
        max-width 75%
        height 150px
      select
        min-width 60%
        max-width 75%
    .participants
      min-width 60%
      max-width 75%
      display flex
    a
      align-self center
      margin-left 2px
    .delete_button
      min-width 60%
      max-width 75%
      display flex
      justify-content center
      align-items center
      .delete
        background-color #FF5252
        height 50%
        line-height 50%
        width 40%
        font-size 24px
    .confirming_modal
      .background
        position fixed
        z-index 500
        background-color #212121
        opacity 0.5
        height 100vh
        width 100vw
        top 0
        left 0
      .window
        position fixed
        z-index 501
        top 35%
        left 35%
        background-color #f5f5f5
        width 30%
        padding 20px
        border-radius 10px
        label
          font-size 24px
          font-weight 600
          width 100%
          margin-bottom 20px
        .confirm
          display inline-block
          margin 5px 10px
          width 150px
          background-color #FF5252
        .cancel
          display inline-block
          margin 5px 10px
          width 150px
          background-color #212121
      
