.projectwrapper
  section.row.center-xs
    .main.col-xs-8
      h1 Project Settings
      .changeProj
        button(ng-click="proj.getProjects()",ng-if="proj.flag") Change project
        select(ng-if="!proj.flag",ng-model="proj.currentProjectId",ng-change="proj.setProject()")
          option(ng-repeat="project in proj.userProjects track by $index" value='{{project._id}}') {{project.title}}
      .goto
        a(href='') Trash
        a(href='') Reports
      form(name='projectEdit').row.center-xs
        .wrap
          label
            p Name:
          p {{proj.currentProject.title}}
        .wrap
          label
            p Description
          p {{proj.currentProject.description}}
        .wrap
          label
            p Participants:
          .participants(ng-model="proj.projectParticipants")
            p(ng-repeat="participator in proj.projectParticipants track by $index")  {{participator.firstName}} {{participator.lastName}} 
              a(ng-click="proj.removeParticipant(participator._id);")
                i.fa.fa-times(aria-hidden='true')
            a(ng-click="proj.addParticipatorFlag=true;")
              i.fa.fa-plus(aria-hidden='true')
            select(ng-if="proj.addParticipatorFlag",ng-model="proj.participatorToAdd",ng-change="proj.addParticipator();")
              option(ng-repeat="participator in proj.users track by $index",value="{{participator._id}}") {{participator.email}} 
        .wrap
          label
            p  Deadline:
            i.fa.fa-exclamation-triangle(aria-hidden='true')
          p {{proj.currentProject.endDate}}
        .wrap
          button.col-xs-6(type='submit', form='projectEdit', value='Submit') Edit Project
