body{
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.trash-container{
	margin: 0 auto;
	min-width: 940px;
}
.trash-container h1{
	text-align: center;
	font-size: 50px;
}
.trash-menu{
	overflow: hidden;
	padding 0;
}

.trash-menu li{
	display: inline-block;
	padding: 5px 10px 5px 10px;
	border-left: 1px solid black;
	height: 15px;
	line-height: 15px;
	font-size: 25px;
}
.trash-menu li:nth-child(2){
	border: none;
}
.trash-menu li:first-child{
	border: none;
}
.trash-menu li a{
	color: #2f6fad;
}
.trash-menu li a:hover{
	text-decoration: none;
	color: #ad303f;
}

.trash-menu-container{
	width: 80%;
	padding-left: 10%;
	padding-right 10%;
}
.trash-items{
	overflow: hidden;
	margin: 50px auto;
	width: 60%;
}
.trash-input{
	width: 70px;
	position: relative;
    top: -4px;
	height: 20px;
	border-radius 7px;
}
.trash-input:focus{
	outline: none;
}
.trash-line{
	width: 35%
}
.row{

}
.row div{
	display: inline-block;
	float: left;
	font-size: 25px;

}
.data-title{
	width: 30%;
	padding-top: 15px;
	padding-bottom 15px;
}
.data-desc{
	width: 60%;
	padding-top: 15px;
	padding-bottom 15px;

}
.data-button{
	width: 9%;
	text-align: right;
	padding: 10px 0 3px;

}

.trash-control{
	width: 40px;
}

