.edit-message-wrapper
  h1 Edit message
    .return-btn(ng-link='["MsgBoard"]')
      i.fa.fa-arrow-left
      a
        span return
  form(name="message",novalidate)
    input(name="title",type="text",ng-model="editCtrl.draft.title",placeholder="Message title",required,ng-minlength="3", ng-maxlength="30",autocomplete="off")
    .invalid_info
      p(ng-show="message.title.$invalid && editCtrl.invalidForm && !message.title.$error.minlength && !message.title.$error.maxlength") Title is required.
      p(ng-show="message.title.$error.minlength && editCtrl.invalidForm") Title is too short.
      p(ng-show="message.title.$error.maxlength && editCtrl.invalidForm") Title is too long
    .mesgDescription
      .mesgEditor(ui-tinymce="editCtrl.tinyOptions",ng-model="editCtrl.draft.description", ng-class = "{'placeholder': !editCtrl.draft.description}")
    .invalid_info
      p(ng-show="message.content.$invalid && editCtrl.invalidForm") Message is required;
      p(ng-show="message.content.$error.minlength && edit.invalidForm") Message is too short;
      p(ng-show="message.content.$error.maxlength && edit.invalidForm") Message is too long;
    file-upload(file-list = 'editCtrl.draft.files')
    .saveBtn
      button(ng-click="editCtrl.edit(message.$valid)") Save
      //div.postBtn(ng-if="editCtrl.draft.isDraft",ng-click="editCtrl.postDraft(message.$valid)") Post on message board
      //- button.delete(ng-click="editCtrl.delete()",ng-if="editCtrl.draft.author === editCtrl.window._injectedData.userId") Delete
