@import "../../../public/libs/css/generalComponentsStyle.styl"
.post-message-wrapper
  width 50%
  border 1px solid #7986CB
  border-radius 10px
  position absolute
  top 100px
  left 30%
  margin-bottom 50px
  background-color background-white
  header
    margin-bottom 30px
    display flex
    h2
      margin-left 1%
      padding 1%
      font-size 1.4em
      font-family "Montserrat"
    div
      button()
      margin-left 60%
      margin-top 3%
      width 10%
    hr
      width 80%
      height 1px
      background-color #EF6C00
      margin-left 0
  .input-block
    margin-left 10%
    margin-bottom 50px
    textarea
      width 70%
      font-size 1.6em
      resize none
      font-family "Open Sans"
    .img-block
      width 8%
      position absolute
      left 74.5%
      img
        width 64%
        margin-left 18%
    div
      background-color #ffcc80
      width 71%
      text-align center
  .draft-post
    select
      font-size 1.6em
      width 25%
      margin-left 10%
      margin-right 14%
  .sendButtons
    display flex
    flex-direction column
    justify-content center
    align-self center
    .postBtn
      display flex
      justify-content center
      align-self center
      button()
      width 40%
      font-size 18px
      text-align center
      padding-top 1%
      padding-bottom 1%
      margin-bottom 20
      margin-top 20px
