.events-wrapper
    section.row.center-xs
        section.col-xs-8.events-holder
            section.row.events-header.center-xs
                span.col-xs-11 Events
            section.row
                section.button.comment-button.col-xs-4.col-xs-offset-4 Set up event
            .choose-event-container
                section.row.choose-event.center-xs
                    row.middle-xs
                        .show-events
                            h2 Show all events:
                        .form
                            form(action='')
                                span.events-blue-gray  from:
                                input(type='date', name='bday', max='1979-12-31')
                                span.events-blue-gray  to:
                                input(type='date', name='bday', min='2000-01-02')
            section.row.big-date
                h2.col-xs-4.col-xs-offset-4 13 May 2013

            section.events-items
                .event
                    .section.row.event-header
                        section.row.col-xs-6.event-name
                            h2  Event1  
                            i.fa.fa-folder-open-o.fa-2x
                        .col-xs-2.col-xs-offset-4
                            i.fa.fa-comment.fa-2x
                            i.fa.fa-rss.fa-2x
                    .event-body
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum efficitur quam, nec tristique urna. Cum sociis natoque         penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque lobortis sem sed metus suscipit, ut euismod massa       scelerisque. Fusce interdum pharetra nulla
                hr
                .event
                    .section.row.event-header
                        section.row.col-xs-6.event-name
                            h2  Event1  
                            i.fa.fa-folder-open-o.fa-2x
                        .col-xs-2.col-xs-offset-4
                            i.fa.fa-comment.fa-2x
                            i.fa.fa-rss.fa-2x
                    .event-body
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum efficitur quam, nec tristique urna. Cum sociis natoque         penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque lobortis sem sed metus suscipit, ut euismod massa       scelerisque. Fusce interdum pharetra nulla