user-list(user-data = '$ctrl.users', select-callback = '$ctrl.onUserSelect', parent-scope='$ctrl', ng-if='$ctrl.userListFlag',is-showed = "$ctrl.userListFlag")
.eventsEdit-wrapper
  .row.center-xs
    .main.col-xs-7
      .head
        div
          h1 {{$ctrl.curEvent.title}}
           i.fa.fa-pencil.edit-icon(ng-click="$ctrl.editTitle=true",ng-if="!$ctrl.editTitle")
           i.fa.fa-check.edit-icon(ng-click="$ctrl.edit('title')",ng-if="$ctrl.editTitle")
        i.fa.fa-times.fa-2x(aria-hidden='true',ng-click="$ctrl.location.path('/events')")
      form(name='editEvent')
        .title
          input(name="title",type="text",ng-model="$ctrl.title",ng-if="$ctrl.editTitle",required,ng-minlength="3" ng-maxlength="30")
          p(ng-show="editEvent.title.$invalid",class="help-block",ng-if="$ctrl.editTitle") Title is required.
          p(ng-show="editEvent.title.$error.minlength",class="help-block",ng-if="$ctrl.editTitle") Title is too short.
          p(ng-show="editEvent.title.$error.maxlength",class="help-block",ng-if="$ctrl.editTitle") Title is too long.
        .date
          .dataPicker
            h1 Start Date
            p {{$ctrl.curEvent.startDate | date:"dd/MM/yyyy"}}
             i.fa.fa-pencil.edit-icon(ng-click="$ctrl.editStartDate=true",ng-if="!$ctrl.editStartDate")
             i.fa.fa-check.edit-icon(ng-click="$ctrl.edit('startDate')",ng-if="$ctrl.editStartDate")
            .picker(ng-if="$ctrl.editStartDate")
              input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='$ctrl.date', is-open='$ctrl.popup.opened', ng-required='true', close-text='Close', alt-input-formats='altInputFormats',placeholder="{{$ctrl.curEvent.startDate}}")
              a.btn.btn-default(type='button', ng-click='$ctrl.open()')
                i.fa.fa-calendar(aria-hidden='true')
              .time(uib-timepicker,ng-model='$ctrl.date',ng-change="changed()",hour-step="1" minute-step="1",show-meridian = 'false',show-spinners="false")
            h1 End Date 
            p {{$ctrl.curEvent.endDate | date:"dd/MM/yyyy"}}
             i.fa.fa-pencil.edit-icon(ng-click="$ctrl.editEndDate=true",ng-if="!$ctrl.editEndDate")
             i.fa.fa-check.edit-icon(ng-click="$ctrl.edit('endDate')",ng-if="$ctrl.editEndDate")
            .picker(ng-if="$ctrl.editEndDate")
              input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='$ctrl.endDate', is-open='$ctrl.popup1.opened', ng-required='true', close-text='Close', alt-input-formats='altInputFormats',placeholder="{{$ctrl.curEvent.endDate}}")
              a.btn.btn-default(type='button', ng-click='$ctrl.open1()')
                i.fa.fa-calendar(aria-hidden='true')
              .time(uib-timepicker,ng-model='$ctrl.endDate',ng-change="changed()",hour-step="1" minute-step="1",show-meridian = 'false',show-spinners="false")
        h1  Description 
        p(ng-bind-html="$ctrl.curEvent.description") 
        i.fa.fa-pencil(ng-click="$ctrl.editDescription=true",ng-if="!$ctrl.editDescription")
        i.fa.fa-check(ng-click="$ctrl.edit('description')",ng-if="$ctrl.editDescription")
        input(ckeditor,type="text",name="text" , cols='25', rows='10',ng-model = "$ctrl.desc",ng-if="$ctrl.editDescription",required,ng-minlength="10" ng-maxlength="300")
        hr
        p(ng-show="editEvent.text.$invalid",class="help-block",ng-if="$ctrl.editDescription") Description is required.
        p(ng-show="editEvent.text.$error.minlength",class="help-block",ng-if="$ctrl.editDescription") Description is too short.
        p(ng-show="editEvent.text.$error.maxlength",class="help-block",ng-if="$ctrl.editDescription") Description is too long.
        .participants
          h1 Participants
          i.fa.fa-user(aria-hidden='true')
          .participants
          button.addButton(ng-click = '$ctrl.userListFlag = true')
            i.fa.fa-plus(aria-hidden='true')
            span add participant
          .participantCell(ng-repeat='userid in $ctrl.participants track by $index')
            .participant_wrapper
              .participantTitle {{$ctrl.getUserNameById(userid)}}
              .deleteButton(ng-click = "$ctrl.participantDelete(userid)")
                i.fa.fa-times.fa-fw
        .period
          div
            | Is all day
            input(type='checkbox',ng-model="$ctrl.allDay",ng-checked='$ctrl.curEvent.isAllDay')
          button(type='submit', form='eventEdit', value='Submit',ng-click="$ctrl.save(editEvent.$valid)") Save
          button.deleteButton(ng-if="$ctrl.author === $ctrl.window._injectedData.userId",ng-click="$ctrl.delete()") Delete