.eventsEdit-wrapper
  .row.center-xs
    .main.col-xs-7
      .head
        h1 Event name
        i.fa.fa-times.fa-2x(aria-hidden='true',ng-click="$ctrl.location.path('/events')")
      form(name='editEvent',novalidate)
        .title
          input(name="title",type="text",ng-model="$ctrl.title",required,ng-minlength="3" ng-maxlength="30")
          p(ng-show="editEvent.title.$invalid" class="help-block") Title is required.
          p(ng-show="editEvent.title.$error.minlength" class="help-block") Title is too short.
          p(ng-show="editEvent.title.$error.maxlength" class="help-block") Title is too long.
        .date
          .dataPicker
            h1 Start Date
            .picker
              input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='$ctrl.date', is-open='$ctrl.popup.opened', ng-required='true', close-text='Close', alt-input-formats='altInputFormats',placeholder="{{$ctrl.date}}")
              a.btn.btn-default(type='button', ng-click='$ctrl.open()')
                i.fa.fa-calendar(aria-hidden='true')
            h1 End Date
            .picker
              input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='$ctrl.endDate', is-open='$ctrl.popup1.opened', ng-required='true', close-text='Close', alt-input-formats='altInputFormats',placeholder="{{$ctrl.endDate}}")
              a.btn.btn-default(type='button', ng-click='$ctrl.open1()')
                i.fa.fa-calendar(aria-hidden='true')
        h1 Description
        input(ckeditor,type="text",name="text" , cols='25', rows='10',ng-model = "$ctrl.desc",required,ng-minlength="10" ng-maxlength="300")
        hr
        p(ng-show="editEvent.text.$invalid" class="help-block") Description is required.
        p(ng-show="editEvent.text.$error.minlength" class="help-block") Description is too short.
        p(ng-show="editEvent.text.$error.maxlength" class="help-block") Description is too long.
        .participants
          i.fa.fa-user(aria-hidden='true')
          select(ng-change = "$ctrl.participantUpdate()" ng-model = "$ctrl.userToAdd",ng-options="user._id as user.email for user in $ctrl.users")
            option(value ="" selected hidden) Select user to add
          .participantCell(ng-repeat='userid in $ctrl.participants track by $index')
            .participant_wrapper
              .participantTitle {{$ctrl.getUserNameById(userid)}}
              .deleteButton(ng-click = "$ctrl.participantDelete(userid)")
                i.fa.fa-times.fa-fw
          a()
            i.fa.fa-plus(aria-hidden='true')
        .period
          div
            | Is all day
            input(type='checkbox',ng-model="$ctrl.allDay")
          button(type='submit', form='eventEdit', value='Submit',ng-click="$ctrl.save(valid)") Save
