.eventsEdit-wrapper
  section.row.center-xs
    .main.col-xs-7
      .head
        h1 Event name
        i.fa.fa-times.fa-2x(aria-hidden='true',ng-click="$ctrl.location.path('/events')")
      form(name='editEvent')
        .title
          input(type='text',name='eventTitle',ng-model="$ctrl.title")
        .date
          .dataPicker
            h1 Start Date
            .picker
              input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='$ctrl.date', is-open='$ctrl.popup.opened', ng-required='true', close-text='Close', alt-input-formats='altInputFormats',placeholder="{{$ctrl.date}}")
              a.btn.btn-default(type='button', ng-click='$ctrl.open()')
                i.fa.fa-calendar(aria-hidden='true')
            h1 End Date
            .picker
              input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='$ctrl.endDate', is-open='$ctrl.popup1.opened', ng-required='true', close-text='Close', alt-input-formats='altInputFormats',placeholder="{{$ctrl.endDate}}")
              a.btn.btn-default(type='button', ng-click='$ctrl.open1()')
                i.fa.fa-calendar(aria-hidden='true')
        h1 Description
        textarea(ng-model = "$ctrl.desc",ckeditor)
        .participants
          i.fa.fa-user(aria-hidden='true')
          select(ng-change = "$ctrl.participantUpdate()" ng-model = "$ctrl.userToAdd")
            option(ng-repeat="user in $ctrl.users track by $index" value="{{user._id}}") {{user.email}}
          .participantCell(ng-repeat='userid in $ctrl.participants track by $index')
            .participant_wrapper
              .participantTitle {{$ctrl.getUserNameById(userid)}}
              .deleteButton(ng-click = "$ctrl.participantDelete(userid)")
                i.fa.fa-times.fa-fw
          a()
            i.fa.fa-plus(aria-hidden='true')
        .period
          div
            | Is all day
            input(type='checkbox',ng-model="$ctrl.allDay")
          button(type='submit', form='eventEdit', value='Submit',ng-click="$ctrl.save()") Save