user-list(user-data = '$ctrl.users', select-callback = '$ctrl.onUserSelect', parent-scope='$ctrl', ng-if='$ctrl.userListFlag',is-showed = "$ctrl.userListFlag")
.eventsEditWrapper
    h1.header Event name
      .return-btn(ng-link='["Events List"]')
        i.fa.fa-arrow-left
        a
          span return


    .main
      form(name='editEvent',novalidate)


        .date
          .datecell
            h2 Start Date:
            .picker
              .day(type='text', uib-datepicker-popup='{{format}}', ng-model='$ctrl.date', is-open='$ctrl.popup.opened', ng-required='true', close-text='Close', alt-input-formats='altInputFormats',placeholder="{{$ctrl.date}}") {{$ctrl.date| date: 'fullDate'}}
              a(ng-click='$ctrl.open()') 
                i.fa.fa-calendar(aria-hidden='true')
              .time(uib-timepicker,ng-model='$ctrl.date',ng-change="changed()",hour-step="1" minute-step="1",show-meridian = 'false',show-spinners="false")
          .datecell
            h2 End Date:
            .picker
              .day(type='text', uib-datepicker-popup='{{format}}', ng-model='$ctrl.endDate', is-open='$ctrl.popup1.opened', ng-required='true', close-text='Close', alt-input-formats='altInputFormats',placeholder="{{$ctrl.endDate}}") {{$ctrl.endDate| date: 'fullDate'}}
              a(ng-click='$ctrl.open1()')
                i.fa.fa-calendar(aria-hidden='true')
              .time(uib-timepicker,ng-model='$ctrl.endDate',ng-change="changed()",hour-step="1" minute-step="1",show-meridian = 'false',show-spinners="false")

        .title
          input(name="title",type="text",ng-model="$ctrl.title",required,ng-minlength="3" ng-maxlength="30",autocomplete="off",placeholder="Event title")
          .invalid_info
            p(ng-show="editEvent.title.$invalid && $ctrl.invalidForm") Title is required.
            p(ng-show="editEvent.title.$error.minlength && $ctrl.invalidForm") Title is too short.
            p(ng-show="editEvent.title.$error.maxlength && $ctrl.invalidForm") Title is too long.


        .eventDescription
          .eventEditor(ui-tinymce="$ctrl.tinyOptions",ng-model="ctrl.desc", ng-class = "{'placeholder': !ctrl.desc.length}")
          .invalid_info
            p(ng-show="editEvent.text.$invalid && $ctrl.invalidForm") Title is required.
            p(ng-show="editEvent.text.$error.minlength && $ctrl.invalidForm") Title is too short.
            p(ng-show="editEvent.text.$error.maxlength && $ctrl.invalidForm") Title is too long.
        .participants
            .btn-group.open(ng-repeat="userid in $ctrl.participants track by userid._id") 
              a.participant(ng-click="$ctrl.participantDelete(userid)")
                span {{userid.firstName}} {{userid.lastName}}
                i.fa.fa-times
            .btn-group.open
              a.participant.add(ng-click = '$ctrl.userListFlag = true')
                i.fa.fa-plus(aria-hidden='true')
                span add user ...
        .sendBtn
          button(type='submit', form='eventEdit', value='Submit',ng-click="$ctrl.save(editEvent.$valid)") Save
