.events-wrapper
    section.row.center-xs
        section.col-xs-8.events-holder
            section.row.events-header.center-xs
                span.col-xs-11 Events
            section.row
                section.button.comment-button.col-xs-4.col-xs-offset-4(ng-link='["CreateEvent"]') Set up event
            .choose-event-container
                section.row.choose-event.center-xs
                    row.middle-xs
                        .show-events
                            h2 Show all events:

                        form.form-inline(role='form').col-md-offset-2
                            .form-group.col-md-5
                                .pull-left
                                    label(for='text') Date from:
                                p.input-group
                                    input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='vm.dtfrom', is-open='vm.popup1.opened', datepicker-options='vm.dateOptions',            ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
                                    span.input-group-btn
                                        button.btn.btn-default(type='button', ng-click='vm.open1()')
                                            i.fa.fa-calendar(aria-hidden='true')
                            .form-group.col-md-5
                                .pull-left
                                    label
                                        | Date to: 
                                p.input-group
                                    input.form-control(type='text', uib-datepicker-popup='', ng-model='vm.dtto', is-open='vm.popup2.opened', datepicker-options='vm.dateOptions',                    ng-required='true', close-text='Close')
                                    span.input-group-btn
                                        button.btn.btn-default(type='button', ng-click='vm.open2()')
                                            i.fa.fa-calendar(aria-hidden='true')  
                section.row
                    section.button.comment-button.col-xs-4.col-xs-offset-4(ng-click="vm.filter()") Filter   
                            hr                       
            section.events-items(ng-repeat="event in vm.userEvents track by $index")
                .event
                    .section.row.event-header
                        section.row.col-xs-6.event-name
                            a(ng-link="[\'Edit event\', {id: event._id}]")
                                h2  {{event.title}}  
                            i.fa.fa-folder-open-o.fa-2x
                        .col-xs-2.col-xs-offset-4
                            p Place for participants
                    .event-body
                        p(ng-bind-html="event.description")
                
                
