.container
    ul.header-container
        li
            span
                h1 Check-ins
        li
            a(href='#') Set up check-in
    // QQ BLOCKS
    ul.main-container
        li.days-week
            h1 Monday
            // QUESTIONS
            ul.questions-container
                li.qq 12:30
                li.qq
                    a(href='') What are you working on?
                li.qq
                    div
                        label.switch
                            input(type='checkbox')
                            .slider.round
        li.days-week
            h1 Tuesday
        li.days-week
            h1 Wednesday
            ul.questions-container
                li.qq 12:30
                li.qq
                    a(href='') See anything great lately that inspired you?
                li.qq
                    div
                        label.switch
                            input(type='checkbox')
                            .slider.round
            ul.questions-container
                li.qq 12:30
                li.qq
                    a(href='') Are you blocked on anything?
                li.qq
                    div
                        label.switch
                            input(type='checkbox')
                            .slider.round
    ul.main-container
        li.days-week
            h1 Thursday
        li.days-week
            h1 Friday
            ul.questions-container
                li.qq 09:30
                li.qq
                    a(href='') Do you have any ideas for a future show?
                li.qq
                    div
                        label.switch
                            input(type='checkbox')
                            .slider.round
            ul.questions-container
                li.qq 12:30
                li.qq
                    a(href='') What did you work on today?
                li.qq
                    div
                        label.switch
                            input(type='checkbox')
                            .slider.round
        li.days-week
            h1 Saturday
        li.days-week
            h1 Sunday
