* {
  padding: 0;
}

/* HEADER */
.header-container {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.header-container a {
  position: absolute;
  text-decoration: none;
  display: block;
  margin-top: 50px;
  margin-left: 150px;
  padding: 5px;
  background: #3cb371;
  color: #fff;
  border-radius: 0.3rem;
}

.header-container a:hover {
  background: #007300;
}

/* QQ BLOCKS */
.main-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.days-week {
  background: #d1f9ff;
  width: 400px;
  height: 350px;
  margin-top: 20px;
  text-align: center;
  /*font-weight: bold;*/
  border: 1px solid #bce0e5;
}

/* QUESTIONS */
.questions-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  font-size: 22px;
}

.qq a {
  text-decoration: none;
}

/* TOOGLE */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 36px;
}

.slider.round:before {
  border-radius: 50%;
}