@import "../../../public/libs/css/generalComponentsStyle.styl"
.checkins-answer-wrapper

    .checkins-answer
        display flex
        flex-flow row wrap
        justify-content center
        max-width 650px
        text-align center
        margin 0 auto
        background-color #f5f5f5
        border 1px solid #adadad
        border-radius 10px
        & > *
            flex 1 100%

    .header-answer, .list
        border-bottom 1px solid #adadad

    li
        list-style none

    .header-answer
        height 20%
        max-width 650px
        h2
            word-wrap break-word
            margin 15px
            text-align center

    .header-btn
        display flex
        justify-content space-between
        margin 10px

    .button
        box-shadow 0px 0px 10px 0px grey
        background-color main-blue
        color white
        border-radius 5px
        height 40px
        width 50px
        padding 5px
        margin 5px
        transition 0.2s
        cursor pointer
        border none
        &:hover
            box-shadow 0px 0px 0px 1px white, 0px 0px 0px 4px main-blue
        &:active
            box-shadow 0px 0px 0px 0.5px white, 0px 0px 0px 2px main-blue, 0px 0px 5px 0px white inset

    .user-list
        margin 10px
        padding 10px
        text-align center

    .avatar
        background-color #f2992e
        border-radius 5px
        font-size 20px
        padding 3px
        margin 3px
        text-transform uppercase
        font-weight bold

    //.fa-pencil-square-o
    //    &:hover
    //        color #ffa502
    //
    //.fa-trash-o
    //    cursor pointer
    //    &:hover
    //        color #f20000
    //
    //.fa-times
    //    &:hover
    //        color #f20000
    //
    //.fa-commenting-o
    //    &:hover
    //        color #00c000


    .main-answer
        height 80%

    .qq-list
        li
            font-size 18px
            padding 1%

    .name
        font-weight bold

    .list
        text-align left
        margin-right 15px