.checkins-setup-wrapper
    .checkins-setup
        .header-setup
            .close-btn
                a(ng-link='["Checkins List"]')
                    i.fa.fa-times.fa-2x
        p question: {{checkinsAnswer.checkin.question}}
        input(ckeditor,type="text",name="text" , cols='30', rows='10',ng-model="checkinsAnswer.body",
        required,ng-minlength="10" ng-maxlength="300")
        hr
        p(ng-show="message.text.$invalid" class="help-block") Description is required.
        p(ng-show="message.text.$error.minlength" class="help-block") Description is too short.
        p(ng-show="message.text.$error.maxlength" class="help-block") Description is too long.
        .buttons
          div.sendBtn
            button(ng-click="checkinsAnswer.post()") Post
