.checkins-wrapper
    // HEADER
    .checkins-header
        ul
            li.header-list
                h1 Check-ins
            li.header-list
                button(ng-link='["CheckinsCreate"]') Set up check-in
    // ACCORDION
    .checkins-accordion
        input#week-list(type='radio', name='week', checked='')
        input#monday(type='radio', name='week')
        input#tuesday(type='radio', name='week')
        input#wednesday(type='radio', name='week')
        input#thursday(type='radio', name='week')
        input#friday(type='radio', name='week')
        input#saturday(type='radio', name='week')
        input#sunday(type='radio', name='week')
        ul.tabs
            li
                label(for='week-list') QQ
            li
                label(for='monday') Mo
            li
                label(for='tuesday') Tu
            li
                label(for='wednesday') We
            li
                label(for='thursday') Th
            li
                label(for='friday') Fr
            li
                label(for='saturday') Sa
            li
                label(for='sunday') Su
        section.tab.all
            label(for='week-list') Questions List
            div(ng-repeat="checkin in check.checkIns track by $index")
                ul.content
                    li.qq
                        a(ng-link='["CheckinsInfo"]') {{checkin.question}}
                    li.qq
                        div
                            label.switch
                                input(type='checkbox', ng-click="check.turnOn(checkin)",ng-checked="checkin.isTurnedOn",ng-model="checkin.isTurnedOn")
                                .slider.round
        section.tab.mo
            label(for='monday') Monday
            div(ng-repeat="checkin in check.checkIns | filter: check.filterFunction('Monday') ")
                ul.content
                    li.qq {{checkin._id}}
                    li.qq
                        a(ng-link='["CheckinsInfo"]') {{checkin.question}}
                    li.qq
                        div
                            label.switch
                                input(type='checkbox', ng-disabled="true", checked='checked')
                                .slider.round
        section.tab.tu
            label(for='tuesday') Tuesday
            div
                ul.content
                    li.qq Tuesday: questions list is empty
        section.tab.we
            label(for='wednesday') Wednesday
            div
                ul.content
                    li.qq 12:30
                    li.qq
                        a(ng-link='["CheckinsInfo"]') See anything great lately that inspired you?
                    li.qq
                        div
                            label.switch
                                input(type='checkbox')
                                .slider.round
                ul.content
                    li.qq 12:30
                    li.qq
                        a(ng-link='["CheckinsInfo"]') Are you blocked on anything?
                    li.qq
                        div
                            label.switch
                                input(type='checkbox', checked='checked')
                                .slider.round
        section.tab.th
            label(for='thursday') Thursday
            div
                ul.content
                    li.qq Thursday: questions list is empty
        section.tab.fr
            label(for='friday') Friday
            div
                ul.content
                    li.qq Friday: questions list is empty
        section.tab.sa
            label(for='saturday') Saturday
            div
                ul.content
                    li.qq Saturday: questions list is empty
        section.tab.su
            label(for='sunday') Sunday
            div
                ul.content
                    li.qq Sunday: questions list is empty
