.checkins-wrapper
    // HEADER
    .checkins-header
        ul
            li.header-list
                h1 Check-ins
            li.header-list
                button(ng-link='["CheckinsCreate"]') Set up check-in
    // ACCORDION
    .checkins-accordion
        input#week-list(type='radio', name='week', checked='')
        input#monday(type='radio', name='week')
        input#tuesday(type='radio', name='week')
        input#wednesday(type='radio', name='week')
        input#thursday(type='radio', name='week')
        input#friday(type='radio', name='week')
        input#saturday(type='radio', name='week')
        input#sunday(type='radio', name='week')
        ul.tabs
            li
                label(for='week-list') All-QQ
            li
                label(for='monday') Monday
            li
                label(for='tuesday') Tuesday
            li
                label(for='wednesday') Wednesday
            li
                label(for='thursday') Thursday
            li
                label(for='friday') Friday
            li
                label(for='saturday') Saturday
            li
                label(for='sunday') Sunday
        section.tab.all
            label(for='week-list') All QQ
            div
                ul.content
                    li.qq 09:30
                    li.qq
                        a(href='') Do you have any ideas for a future show?
                    li.qq
                        div
                            label.switch
                                input(type='checkbox', checked='checked')
                                .slider.round
                ul.content
                    li.qq 12:30
                    li.qq
                        a(href='') What did you work on today?
                    li.qq
                        div
                            label.switch
                                input(type='checkbox')
                                .slider.round
                ul.content
                    li.qq 12:30
                    li.qq
                        a(href='') What are you working on?
                    li.qq
                        div
                            label.switch
                                input(type='checkbox', checked='checked')
                                .slider.round
                ul.content
                    li.qq 12:30
                    li.qq
                        a(href='') See anything great lately that inspired you?
                    li.qq
                        div
                            label.switch
                                input(type='checkbox')
                                .slider.round
                ul.content
                    li.qq 12:30
                    li.qq
                        a(href='') Are you blocked on anything?
                    li.qq
                        div
                            label.switch
                                input(type='checkbox', checked='checked')
                                .slider.round
        section.tab.mo
            label(for='monday') Monday
            div
                ul.content
                    li.qq 12:30
                    li.qq
                        a(href='') What are you working on?
                    li.qq
                        div
                            label.switch
                                input(type='checkbox', checked='checked')
                                .slider.round
        section.tab.tu
            label(for='tuesday') Tuesday
            div
                ul.content
                    li.qq Tuesday: questions list is empty
        section.tab.we
            label(for='wednesday') Wednesday
            div
                ul.content
                    li.qq 12:30
                    li.qq
                        a(href='') See anything great lately that inspired you?
                    li.qq
                        div
                            label.switch
                                input(type='checkbox')
                                .slider.round
                ul.content
                    li.qq 12:30
                    li.qq
                        a(href='') Are you blocked on anything?
                    li.qq
                        div
                            label.switch
                                input(type='checkbox', checked='checked')
                                .slider.round
        section.tab.th
            label(for='thursday') Thursday
            div Thursday Content
        section.tab.fr
            label(for='friday') Friday
            div Friday Content
        section.tab.sa
            label(for='saturday') Saturday
            div Saturday Content
        section.tab.su
            label(for='sunday') Sunday
            div Sunday Content
