@import "../../../public/libs/css/generalComponentsStyle.styl"
.checkins-setup-wrapper
    font-family: "Montserrat"
    .checkins-setup
        display flex
        flex-flow row wrap
        justify-content center
        text-align center
        margin 0 auto
        & > *
            flex 1 100%
        i
            color #212121
        #cke-text
            border-bottom 4px solid border-color
            color text-input
    .header-setup, .main-setup
        //border-bottom 1px solid #adadad
    .checkins-holder
        margin-top: 20px
        width 80%
        margin-left: 10%
        border-bottom 4px solid border-color
        background-color: disable-input
        border-radius: 10px
        padding: 10px
        .question-title
            font-size: 20px
        .question
            font-size: 22px
            font-weight: bold
    .buttons
        width 80%
        margin-left: 10%
        --box-shadow-color #004D40
        .button
            button()
            font-size: 20px
            padding: 5px
        .ok-btn
            background-color #2e8f35
        .back-btn
            background-color: #cb4e4e
    li
        list-style none
    .header-setup
        border-bottom 4px dashed grey
    .close-btn
        display flex
        justify-content flex-end
        margin 10px
        i
            font-size 1.8em
            //margin-right 10px
            cursor pointer
            border-radius 4px
            color #424242
            // background-color #ECF0F1
            padding 6px
            transition color 0.2s ease-out
            &:hover
                color #1d8dbf

    input
        &.question
            text-align center
            border 1px solid #adadad
            border-radius 10px
            font-size 25px
            width 70%
            outline none
            margin 15px

    .main-setup
        height 58%
        overflow auto
        button
            button()
            margin auto
            font-family "Montserrat"
            font-size 24px
            padding 5px 30px
            --box-shadow-color #004D40
            background-color #2e8f35

    label
        &.checkbox
            display flex
            justify-content space-between
            font-size 20px
            margin-left 30px
            cursor pointer
            padding 1%

    .checkbox
        input
            width 20px
            height 20px
            margin-left -30px

    .list
        margin-right 30px

    .footer-setup
        height 23%
        .save-button
            margin 0px
            height 40px

    .schedule
        display inline-flex
        select
            padding-top 2px
            border-radius 3px
            border 1px solid #adadad
            outline none
            margin-left 25px
    div
        #schedule-second
            margin-top 35px
            font-size 20px
        button
            button()
            font-family "Montserrat"
            font-size 24px
            padding 5px 30px
            --box-shadow-color #004D40
            background-color #2e8f35
            margin-left 25px
            margin-top 30px

    //.fa-floppy-o
    //    &:hover
    //        color #00c000