//@import "../../../public/libs/css/generalComponentsStyle.styl"
.checkins-setup-wrapper

    .checkins-setup
        display flex
        flex-flow row wrap
        justify-content center
        max-width 700px
        height 750px
        text-align center
        margin 0 auto
        background-color #dadfe1
        border 1px solid #adadad
        border-radius 10px
        & > *
            flex 1 100%
        i
            color #212121

    .header-setup, .main-setup
        //border-bottom 1px solid #adadad

    li
        list-style none

    .header-setup
        height 30%
        h3
            margin 0

    .close-btn
        display flex
        justify-content flex-end
        margin 10px
        i
            font-size 1.8em
            //margin-right 10px
            cursor pointer
            border-radius 4px
            color #424242
            // background-color #ECF0F1
            padding 6px
            transition color 0.2s ease-out
            &:hover
                color #1d8dbf

    input
        &.question
            text-align center
            border 1px solid #adadad
            border-radius 10px
            font-size 25px
            width 70%
            outline none
            margin 15px

    .newMultiSelect
        display flex
        justify-content center
        text-align left
        margin 0

    .timeSelect
        text-align center

    .multiSelect > button {
        width: 290;
        margin: 5px;
    }

    .main-setup
        height 60%
        overflow auto

    label
        &.checkbox
            display flex
            justify-content space-between
            font-size 20px
            margin-left 30px
            cursor pointer
            padding 1%

    .checkbox
        input
            width 20px
            height 20px
            margin-left -30px

    .list
        margin-right 30px

    .footer-setup
        height 10%

    .container-btn
        display flex
        justify-content space-around

    .select-btn
        button
            button()
            font-family "Montserrat"
            font-size 24px
            padding 5px 30px
            --box-shadow-color #603D12
            background-color #F2992E

    .save-btn
        button
            button()
            font-family "Montserrat"
            font-size 24px
            padding 5px 40px
            --box-shadow-color #004D40
            background-color #2e8f35


    //.fa-floppy-o
    //    &:hover
    //        color #00c000