@import "../../../public/libs/css/generalComponentsStyle.styl"
.checkins-answer-wrapper

    .checkins-answer
        display flex
        flex-flow row wrap
        justify-content center
        max-width 650px
        text-align center
        margin 0 auto
        background-color #dadfe1
        border 1px solid #adadad
        border-radius 10px
        & > *
            flex 1 100%

    .header-answer, .list
        border-bottom 1px solid #adadad

    li
        list-style none

    .header-answer
        height 20%
        max-width 650px
        h2
            word-wrap break-word
            margin 15px
            text-align center

    .header-btn
        display flex
        justify-content space-between
        margin 10px
        i
            font-size 1.8em
            //margin-right 10px
            cursor pointer
            border-radius 4px
            color #424242
            // background-color #ECF0F1
            padding 6px
            transition color 0.2s ease-out
            &:hover
                color #1d8dbf

    .control-btn
        a
            margin 5px

    .user-list
        margin 10px
        padding 10px
        text-align center
        .user-item
                display inline
                width 40px
                height 32px
                img
                    max-width 40px
                    max-height 32px
                    border-radius 5px

    .avatar
        background-color #f2992e
        border-radius 5px
        font-size 20px
        padding 3px
        margin 3px
        text-transform uppercase
        font-weight bold

    //.fa-pencil-square-o
    //    &:hover
    //        color #ffa502
    //
    //.fa-trash-o
    //    cursor pointer
    //    &:hover
    //        color #f20000
    //
    //.fa-times
    //    &:hover
    //        color #f20000
    //
    //.fa-commenting-o
    //    &:hover
    //        color #00c000


    .main-answer
        height 80%

    .qq-list
        li
            font-size 18px
            padding 1%

    .name
        font-weight bold

    .list
        text-align left
        margin-right 15px