.checkins-wrapper
    .checkins-header
        display flex
        justify-content center
        flex-direction row

    .header-list
        h1
            border-bottom 1px solid black
        a
            text-decoration none
            color #212121
            font-size 22px
            padding 5px
            border-radius 10px
            cursor pointer
            background-color #1d8dbf
            &:hover
                background-color #27bcff

    li
        list-style none

    .checkins-accordion
        max-width 650px
        margin 0 auto
        margin-top 30px

    input[name="week"]
        display none

    section
        font-size 18px
        border 1px solid #35a720
        border-radius 10px
        background #f5f5f5
        overflow hidden
        & > label
            line-height 2em
            height 2em
            background-color #3e8846
            font-size 23px
            font-weight bold
            color #f9f9f9
            display block
            text-align center

    .tabs
        display none
        &:after
            content ""
            display table
            clear both

    input[id="week-list"]:not(:checked) ~ .tab.all,
    input[id="monday"]:not(:checked) ~ .tab.mo,
    input[id="tuesday"]:not(:checked) ~ .tab.tu,
    input[id="wednesday"]:not(:checked) ~ .tab.we,
    input[id="thursday"]:not(:checked) ~ .tab.th,
    input[id="friday"]:not(:checked) ~ .tab.fr,
    input[id="saturday"]:not(:checked) ~ .tab.sa,
    input[id="sunday"]:not(:checked) ~ .tab.su {
        height: 2em;
    }

    input[id="week-list"]:checked ~ * label[for="week-list"],
    input[id="monday"]:checked ~ * label[for="monday"],
    input[id="tuesday"]:checked ~ * label[for="tuesday"],
    input[id="wednesday"]:checked ~ * label[for="wednesday"],
    input[id="thursday"]:checked ~ * label[for="thursday"],
    input[id="friday"]:checked ~ * label[for="friday"],
    input[id="saturday"]:checked ~ * label[for="saturday"],
    input[id="sunday"]:checked ~ * label[for="sunday"] {
        background-color: #4aca51;
        border-top: 4px solid #35a720;
    }

    @media (min-width: 600px) {
        input[id="week-list"]:not(:checked) ~ .tab.all,
        input[id="monday"]:not(:checked) ~ .tab.mo,
        input[id="tuesday"]:not(:checked) ~ .tab.tu,
        input[id="wednesday"]:not(:checked) ~ .tab.we,
        input[id="thursday"]:not(:checked) ~ .tab.th,
        input[id="friday"]:not(:checked) ~ .tab.fr,
        input[id="saturday"]:not(:checked) ~ .tab.sa,
        input[id="sunday"]:not(:checked) ~ .tab.su {
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
        }

        .tabs {
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
        }

        .tabs label {
            font-size: 30px;
            color: #ffffff;
            margin-left: 5px;
            margin-bottom: 5px;
            background-color: #3e8846;
            border: 1px solid #35a720;
            border-radius: 10px;
            float: left;
            cursor: pointer;
            padding: .2em 0.5em;
        }
    }

    .content
    display flex
    justify-content space-between
    margin-top 20px
    font-size 23px

    .qq
        a
            display flex
            text-align center
            text-decoration none
            color #4c5157
            margin-left 10px
            margin-right 10px

    .user-list
        text-align center
    //border-bottom 1px solid black
    //padding 1%

    .avatar
        background-color #f2992e
        border-radius 5px
        font-size 18px
        padding 3px
        margin 3px

    .switch
        position relative
        display inline-block
        width 60px
        height 34px
        margin-right 20px
        input
            display none

    .slider
        position absolute
        cursor pointer
        top 0
        left 0
        right 0
        bottom 0
        background-color #ccc
        -webkit-transition .4s
        transition .4s
        &:before
            position absolute
            content ""
            height 26px
            width 26px
            left 4px
            bottom 4px
            background-color white
            -webkit-transition .4s
            transition .4s
        &.round
            border-radius 34px
            &:before
                border-radius 50%

    input
        &:checked
            & + .slider
                background-color #1d8dbf
                &:before
                    -webkit-transform translateX(26px)
                    -ms-transform translateX(26px)
                    transform translateX(26px)
        &:focus
            & + .slider
                box-shadow 0 0 1px #27bcff

