.checkins-answer-wrapper
    .checkins-answer
        .header-answer
            .header-btn
                .control-btn
                    a(href='')
                        i.fa.fa-comments-o
                    a(ng-link="['CheckinsEdit', {id: chInfo.checkin._id}]")
                        i.fa.fa-pencil-square-o
                    a(ng-click='chInfo.deleteCheckin()')
                        i.fa.fa-trash-o
                .close-btn
                    a(ng-link='["Checkins List"]')
                        i.fa.fa-close
            h2 {{chInfo.checkin.question}}
            .user-list
                span.avatar(ng-repeat="part in chInfo.checkin.participants ") {{part.lastName.charAt(0) + part.firstName.charAt(0) | uppercase}}

        .main-answer
            ul.qq-list(ng-repeat="i in chInfo.iter | orderBy: reverse")  <h3>{{i}}</h3>
                li.list(ng-repeat="var in chInfo.groupedAsnwers[i]") 
                    span.name {{var.user.firstName + ' ' + var.user.lastName }}
                    br
                    span {{var.answer}}