.createProject_wrapper
	.row.center-xs
		.main.col-xs-6
			.cell
				.cellTitle
					h1.componentTitle New Project
			.cell
				.cellTitle
					h2 Title:
				.projTitle
					input(type = "text")
			.cell
				.cellTitle
					h2 Description:
				.projDescription
					textarea
			.cell
				.cellTitle
					h2 Participants:
				.projParticipants
					
			.cell
				.cellTitle
					h2 Deadline: 
				.projDeadline
					.deadline_wrapper
						input(type='text')
						i.fa.fa-calendar(aria-hidden='true')
			.cell
				.button
					button.save Save