.test
    .title
        list-style none
        margin 0
        display flex
        justify-content center
        //flex-direction column
        li
            button
                //position: absolute
                //cursor: pointer
                //text-decoration: none
                //display: block
                //margin-top: 100px
                //margin-left: -185px
                //padding: 5px
                background #e87d0b
                font-size 1.0em
                //color: #fff
                //border-radius: 0.5rem
                //font-size: 20px
            button:hover
                background #f69a37
            h1
              font-size 1.8em
              border-bottom 1px solid #000
