@import "../../../public/libs/css/generalComponentsStyle.styl"
.fileupload_wrapper
	width 100%
	.addFile
		transition padding,height 0.5s ease-out
		outline none
		border none
		border-radius 4px
		border-bottom 4px solid border-color
		overflow hidden
		color text-input
		margin 25px auto
		font-size 1.2em
		padding 0.5em 1em
		outline none
		position relative
		display inline-block
		i
			display inline-flex
			font-size 1.2em
			margin-right 0.5em
			position relative
			z-index 1
		span
			display: -moz-inline-stack;
			display inline-flex
			font-family "Montserrat"
			font-size 1em
			margin-left 0.5em
			position relative
			z-index 1
		.button_background
			background-color #1e824c
			width 100%
			position absolute
			height 100%
			left 0
			top 0
			z-index 0
		&:disabled
			&:hover
				box-shadow none
				cursor wait
	.buttonDownload
		padding 0 30%
		height 25px
		margin 37.5px auto
		border-radius 0
			
	.file-Item
		padding 5px 7px
		.file-description
			border-bottom 1px solid #adadad
			i
				margin-left 0.5em
				font-size 1.3em
				color #ff5252
				cursor pointer