#root_container
	width 80%
	padding-top 85px
	margin-left 15%

#mock_header
	display block
	width 100%
	background-color #616161
	height 60px
	font-size 24px
	text-align center
	line-height 60px
	color white

@media only screen  and (max-width : 1000px), screen and (max-device-width : 1000px)
	#root_container
		padding-top 12%
		margin auto

@media only screen  and (max-width : 480px), screen and (max-device-width: 480px)
	#root_container
		padding-top 190px
