#root_container
	width 90%
	margin 0 5%
	margin-top 8%
#mock_header
	display block
	width 100%
	background-color #616161
	height 60px
	font-size 24px
	text-align center
	line-height 60px
	color white