border-grey = #adadad
background-white = #F5F5F5
shadow-grey = #808080
main-text-color = #212121
add-text-color = #F2992E
main-blue = #1d8dbf
border-color = #BDC3C7
active-input = #ECEFF1
text-input = #34495E
disable-input = #DADFE1
button()
    display block
    justify-content center
    align-items center
    margin-top  1%
    margin-bottom 1%
    border-radius 5px
    font-family "Montserrat"
    color white !important
    padding 1em
    font-size 24px
    cursor pointer
    border none
    outline none
    transition all 0.2s ease-out
    &:hover
        transform translateY(-4px)
        box-shadow 0 4px var(--box-shadow-color)
    &:active
        transform translateY(0px)
        box-shadow 0 0
main-component()
    padding 23px
    // border 1px solid border-grey
    border-radius 10px
    background-color #F5F5F5
    :not(i)
        font-family "Montserrat"
header-style()
    font-family "Montserrat"
    text-align center
    width 100%
    display inline-block
    cursor default
    margin-bottom 35px
    padding-bottom 15px
    font-weight bold
    font-size 40px
    border-bottom 4px dashed grey