i.fa.fa-files-o(aria-hidden = "true", ng-click = "fw.toggle()", ng-if = 'fw.scope.files.length')
    span.filesCounter ({{fw.scope.files.length}})
.filesWrapper_wrapper(ng-if = "fw.modalToggle")
    .filesWrapper_background(ng-click = "fw.toggle()")
    .filesWrapper_window
        .filesWrapper-lable.row.center-xs
            .col-xs-1
            .col-xs-9
                h2 Files 
            .col-xs-2.close-ic
                i.fa.fa-times(ng-click = "fw.toggle()")
        .filesWrapper-content.row.start-xs
            .col-xs-12.file_item(ng-repeat = "file in fw.scope.files")
                a(href = "/api/files/download/{{file._id}}") {{file.name}}
                    span.file_size ({{fw.transformSize(file.size)}})
        .filesWrapper-downloadAll.row.center-xs
            a.downloadAll(href = "/api/files/downloadAll/{{fw.idArray()}}", ng-if = 'fw.scope.files.length > 1') Download All
