.checkins-setup-wrapper
    .checkins-setup
        .header-setup
            .close-btn
                a(ng-link='["Checkins"]')
                    i.fa.fa-times.fa-2x
            h3 What question do you want to ask?
            input.question(type='text', ng-model="CheckEd.question" placeholder='Type your question...')
        .main-setup
            h3 Who do you want to ask?
            section.use-button
                div(ng-click='CheckEd.toggleAll()') Ask all
            ul.user-list
                li.list(ng-repeat="part in CheckEd.participants track by $index")
                    label.checkbox(ng-click="CheckEd.toggleChekin()")
                        span  {{part.lastName +' '+  part.firstName}}
                        input(type='checkbox', ng-checked="CheckEd.parties.indexOf(part._id) > -1",ng-click="CheckEd.toggleChekin(part._id)" )
        .footer-setup
            h3 How frequently should we ask it?
            .schedule
                select#schedule-first(ng-model='CheckEd.selectedFrequency', ng-options='item for item in CheckEd.frequency',
                 ng-selected="CheckEd.frequency[0]")
                input#schedule-second(type="text", placeholder="10:30", ng-model="CheckEd.time")
                div.use-button
                    div.save-button(ng-click="CheckEd.save()") Save
