@import "../../../public/libs/css/generalComponentsStyle.styl"
.task-wrapper
	width 100%
	min-width 400px
	.main-container
		main-component()
		h1
			header-style()
		.wrapper_createButton
			margin 5px 0
			button
				button()
				padding 15px 50px
				--box-shadow-color #004D40
				background-color #2e8f35
		.wrapper_filters
			margin 20px 0
			ul
				list-style-type: none;
				input
						margin-left 4px
						width 70px
						border-radius 7px
						border none
						font-size 0.9em
						border 1px solid gray
						outline none
						padding 3px 6px
						color #25373D
						&:hover
							box-shadow: 0 0 7px #3498db
				li
					font-family "Montserrat"
					color #1d8dbf
					display flex
					align-items center
					margin 0 7px
					cursor pointer
					&:first-child
						color #25373D
						cursor default
				.resetfilter
					color #25373D
		.wrapper_noTask
			font-size 1.3em
			font-family "Montserrat"
		.no_result
			font-size 1.3em
			font-family "Montserrat"
		.wrapper_task
			width 80%
			@media only screen  and (max-width : 1000px), screen and (max-device-width: 1000px)
				width 100%
			@media only screen  and (max-width : 480px), screen and (max-device-width: 480px)
				width 100%
			cursor default
			margin 20px auto
			border 1px solid #212121
			padding 7px 0
			border-radius 7px
			background-color #67809f
			color white
			// overflow hidden
			position relative
			font-family "Montserrat"
			.task_header
				position relative
				z-index 30
				.title
					display flex
					align-items center
					justify-content center
					@media only screen  and (max-width : 768px), screen and (max-device-width: 768px)
						justify-content flex-start
						line-height 35px
						font-size 1.2em
					white-space nowrap
					overflow hidden
					text-overflow ellipsis

					
				.expander
					display flex
					align-items center
					justify-content flex-start
					i
						font-size 1.6em
						@media only screen  and (max-width : 768px), screen and (max-device-width: 768px)
							font-size 1.8em
						cursor pointer
						margin-left 50%
				.task_progress
					.progresslable
						@media only screen  and (max-width : 768px), screen and (max-device-width: 768px)
							display none
					.countProgress
						display inline-block
					.complete
						color #26A65B
						@media only screen  and (max-width : 640px), screen and (max-device-width: 640px)
							display none
						&.cuted
							display none
							@media only screen  and (max-width : 640px), screen and (max-device-width: 640px)
								display block
								font-size 1.8em
			.task_todos
				background-color white
				color black
				margin-top 10px
				padding-top 15px
				.information_block
					margin-bottom 35px
				.task_itemLable
					font-size 1.3em
					.task_Participant
						font-size 0.8em
						color #1d8dbf
						display inline-block
						margin 0 7px
						&:after
							content ","
						&:last-child:after
							content ";"
					button
						display inline-flex
						font-size 0.8em
						outline none
						background-color #336E7B
						color #E4F1FE
						border 1px solid #336E7B
						border-radius 10px
						margin-left 5px
						&:active
							background-color #446CB3
				.toDo
					margin-top 10px
				.toDo_description
					font-size 1em
					color gray
				.task_description
					font-size 1em
					color gray
					margin-bottom 10px
					padding-bottom 10px
					border-bottom 2px dashed #6C7A89
				.toDo_status
					display flex
					align-items center
					justify-content center
					font-size 22px
					i
						cursor pointer
						display block
						min-width 18px
						max-width 18px
						height 18px
				.toDo_title
					display flex
					align-items center
					font-size 1.3em
			.animate-expand.ng-enter,.animate-expand.ng-leave
				transition all 0.3s ease-out;
			.animate-expand.ng-enter,.animate-expand.ng-leave.ng-leave-active
				opacity 0
				margin-top 0
			.animate-expand.ng-leave,.animate-expand.ng-enter.ng-enter-active
				opacity 1
				margin-top 10px
		.no_participants
			&:after
				content ''
				display block
				min-width 15px
				min-height 15px
				border-radius 7.5px
				background-color #EC644B
				margin-left 10%
		.my_task
			position relative
			&:after
				content ''
				display block
				min-width 15px
				min-height 15px
				border-radius 7.5px
				background-color #52B3D9
				margin-left 10%
		.sub_functions
			padding 3px 0
			margin-top 20px
			.date
				display flex
				align-items center
				color #808080
				@media only screen and (max-width : 1000px)
					width 100%
			.icon_bar
				font-size 1.7em
				i
					margin-right 25px
					cursor pointer
					transition all 0.2s ease-out
					&:hover
						color #1d8dbf
