user-list(user-data = 'taskCE.users', select-callback = 'taskCE.onUserSelect', parent-scope='taskCE', ng-if='taskCE.userListFlag',is-showed = "taskCE.userListFlag")
.createTask-wrapper
	h1.header {{taskCE.editMode? 'Edit Task': 'Create Task'}}
		.return-btn(ng-link='["TasksList"]')
			i.fa.fa-arrow-left
			a
				span return
	.main-container
		.wrapper_prop.row
			.prop_editor.tasktitle.col-xs-12 
				input(name="title",placeholder="Task title",type="text",ng-model="taskCE.task.title",required,ng-minlength="3" ng-maxlength="30",autocomplete="off")
				.invalid_info
					p(ng-show="false" ) Title is required;
					p(ng-show="false") Title is too short;
					p(ng-show="false") Title is too long;


		.wrapper_prop.row
			.prop_editor.col-xs-12
				.taskdescription(ui-tinymce="taskCE.tinyOptions",ng-model="taskCE.task.description", ng-class = "{'placeholder': !taskCE.task.description}")


		.wrapper_prop.row.center-xs
			.prop_editor.col-xs-12
				.toDo.row(ng-repeat = "todo in taskCE.task.toDos | filter: {status: '!removed'} track by $index")
					.toDo_number {{$index+1}}.
					.toDo_title
						input(type="text" ng-model="todo.title" placeholder="insert your toDo")
					.deletetodo(ng-click = "taskCE.removeToDo(todo,$index)")
						i.fa.fa-times.fa-2x
			.col-xs-12.center-xs(id="addtodo")
				.addButton(ng-click = "taskCE.addToDo()")
					i.fa.fa-plus-square
					span add ToDo



		.wrapper_prop.row
			.prop_editor.col-xs-12
				file-upload(file-list = 'taskCE.task.files')


		.wrapper_prop.row
			.prop_editor.col-xs-12
				.participants
					.btn-group.open(ng-repeat="user in taskCE.task.participants track by user._id") 
						a.participant(ng-click="taskCE.removeParticipant(user)")
							span {{user.firstName}} {{user.lastName}}
							i.fa.fa-times
					.btn-group.open
						a.participant.add(ng-click = 'taskCE.userListFlag = true')
							i.fa.fa-plus(aria-hidden='true')
							span add user ...





		.wrapper_save.row-center-xs
			button.saveButton(ng-click = "taskCE.saveTask()")
				i.fa.fa-arrow-down
					span SAVE TASK



