.tasks-container
    h1 Tasks  
    button.tasks-add-taskBut() Set up new task
    hr.tasks-line  
    .tasks-menu-container
            ul.tasks-menu
                li filter by:
                li
                    a(href="/#/tasks") time
                li
                    a(href="/#/tasks") name
                li
                    a(href="/#/tasks") subtasks left
                li
                    a(href="/#/tasks") my tasks
                li
                    a(href="/#/tasks") time left               

                li keyword =
                input.tasks-input(type="text")

//div.row.arround-xs
   // div.col.xs-4
   //     div.box 
    //        a(href="/#")
   // div.col.xs-4
    //    div.box
    //        h1 Tasks  
   // div.col.xs-4
   //     div.box        
   //         button.tasks-add-taskBut() Set up new task