.tasks-container h1
	text-align: center;
	font-size: 50px;

.tasks-line
	width: 35%
	margin: 0 auto 0 auto;

.tasks-menu-container
	width: 90%;
	padding-left: 5%;
	padding-right 5%;


.tasks-input
	width: 70px;
	position: relative;
	top: -4px;
	height: 20px;
	border-radius 7px;

.tasks-input:focus
	outline: none;


.tasks-menu
	padding: inherit;
	display: block;
	width: 830px;
	margin: 15px auto;

.tasks-menu li
	display: inline-block;
	padding: 5px 10px 5px 10px;
	border-left: 1px solid black;
	height: 15px;
	line-height: 15px;
	font-size: 20px;


.tasks-menu li:nth-child(2)
	border: none;

.tasks-menu li:first-child
	border: none;

.tasks-menu li a
	color: #2f6fad;

.tasks-menu li a:hover
	text-decoration: none;
	color: #ad303f;

.tasks-add-taskBut
	float: right;
	margin-right: 7%;
	background-color rgb(70, 205, 30)
	padding 0.5%
	border-radius 10px


