@import "../../../public/libs/css/generalComponentsStyle.styl"
.task-wrapper
	.main-container
		min-width 400px
		main-component()
		.wrapper_lable
			display flex
			align-items center
			justify-content center
			flex-wrap wrap
			color #212121
			font-size 1.8em
			font-family "Montserrat"
			h1
				width 100%
				margin-bottom 0
			&:after
				content ''
				height 1px
				margin-top 0.3em
				width 80%
				display block
				background-image -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
				background-image    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
				background-image     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
				background-image      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		.wrapper_createButton
			margin 30px 0
			button
				button()
				font-family "Montserrat"
				line-height 32.406px
		.wrapper_filters
			margin 20px 0
			ul
				list-style-type: none;
				li
					font-family "Montserrat"
					color #1d8dbf
					display flex
					align-items center
					margin 0 7px
					&:first-child
						color #25373D
					input
						margin-left 4px
						font-family "Open Sans"
						width 70px
						border-radius 7px
						border none
						font-size 16px
						border 1px solid gray
						outline none
						padding 3px 6px
						color #25373D
						&:hover
							box-shadow: 0 0 7px #3498db
		