.task-wrapper.row.center-xs
	.main-container.col-xs-8
		.wrapper_lable
			h1 Tasks
		.wrapper_createButton.row.center-xs
			button Create new task
		.wrapper_filters
			ul.row.center-xs
				li filter by :
				li name
				li subtasks left
				li my tasks
				li time left
				li keyword =  
					input(type="text")
		.wrapper_task.row.center-xs(ng-repeat = "task in tasksctrl.tasks track by $index")
			.task_progress.col-xs-3
				.content(ng-if = "task.toDoList.length") Proress: {{task.progress}}/{{task.toDoList.length}}
			.title.col-xs-5 {{task.title}}
			.expander.col-xs-3
				i.fa.fa-arrow-down(aria-hidden = "true")
			.task_todos.col-xs-12
				.toDo.row.start-xs(ng-repeat = "todo in task.toDoList")
					input.col-xs-1(type="checkbox")
					.toDo_title.col-xs-8 {{todo.title}}
					.toDo_dedcription.col-xs-offset-1.col-xs-8.col-xs-offset-3 {{todo.description}}
