@import "../../../public/libs/css/generalComponentsStyle.styl"
.directive_background
	position fixed
	z-index 500
	background-color #212121
	opacity 0.5
	height 100vh
	width 100vw
	top 0
	left 0
.directive_userList
	position fixed
	z-index 501
	width 40%
	min-width 350px
	top 30%
	left 30%
	border-bottom 4px solid border-color
	border-radius 7px
	background-color disable-input
	padding 1.5em
	padding-top 0.5em
	.field_description
		font-family "Montserrat"
		font-size 1.3em
		padding-left 17%
		color #22313F
	.close
		display flex
		justify-content flex-end
		margin-bottom 15px
		font-size 30px
		text-shadow none
		a
			color #cb4e4e !important
		color #cb4e4e !important
		opacity 1 !important
	.user_list
		align-items flex-start
		justify-content center
		height 30vh
		overflow-y scroll
		.user_field
			transition all 0.1s ease-out
			cursor pointer
			font-family "Open Sans"
			font-size 1.3em
			font-weight bold
			padding 5px 0
			border-bottom 0.6px dashed #7f8c8d
			.name
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
			.email
				overflow hidden
				text-overflow ellipsis
			&:hover
				color white
				background-color #22A7F0
				font-size 1.4em
			.emailText
				font-size 0.8em
				color gray
			&:last-child
				border none
	.search_input
		input
			outline none
			border none
			background-color active-input
			font-family "Montserrat"
			font-size 1.3em
			padding 5px
			border-radius 4px
			width 100%
			border-bottom 2px solid border-color
			&:focus
				background-color active-input
			&:focus::-webkit-input-placeholder
				color transparent
			&:focus::-moz-placeholder
				color transparent
			&:focus:-ms-input-placeholder
				color transparent
			&:focus:-moz-placeholder
				color transparent
			
@media only screen and (max-width: 900px)
	.directive_userList
		width 70%
		left 15%
