.directive_background
.directive_userList.row.center-xs
	.row.field_description.center-xs.col-xs-12
		.col-xs-12.center-xs User List
	.col-xs-12.user_list.center-xs
		.user_field.center-xs.col-xs-12(ng-repeat="user in ulCtrl.scope.userData | filter: ulCtrl.searchText",ng-click="ulCtrl.scope.selectCallback(user)")
			.col-xs-12.center-xs.name {{user.firstName}} {{user.lastName}} (<span class="emailText">{{user.email}}</span>)
	.row.search_input.center-xs.col-xs-12
		input.col-xs-10.center-xs(ng-model = 'ulCtrl.searchText' placeholder = 'Search member')