section#messageBoard
  header
    h2 Message Board
    input(type='button', value='Post a new message')
    hr
  section.message
    section.messageInfo
      div
        img(src='https://cdn0.iconfinder.com/data/icons/user-pictures/100/matureman1-128.png', alt='avatar')
        h3 Name Surame
      section.useButton
        img(src='https://cdn4.iconfinder.com/data/icons/miu/24/editor-documents-files-outline-stroke-128.png')
        img(src='https://cdn4.iconfinder.com/data/icons/miu/24/other-conversation-review-comment-bubble-talk-outline-stroke-128.png')
        img(src='https://cdn4.iconfinder.com/data/icons/43-social-media-line-icons/24/Share-128.png')
      hr
      article.messageContent
        p
        h2 Title
        |  Examine she brother prudent add day ham. Far stairs now coming bed oppose hunted become his. You zealously departure had procuring suspicion. Books whose front would purse if be do decay. Quitting you way formerly disposed perceive
        |                         ladyship are. Common turned boy direct and yet. Its had resolving otherwise she contented therefore. Afford relied warmth out sir hearts sister use garden. Men day warmth formed admire former simple. Humanity declared vicinity
        |                         continue supplied no an. He hastened am no property exercise of. Dissimilar comparison no terminated devonshire no literature on. Say most yet head room such just easy.
        p
      h5
        | 09.08.2016