@import "../../../public/libs/css/generalComponentsStyle.styl"
.messageBoard-wrapper
    .main_block
        main-component()
    h1
        header-style()
    .header
        margin-bottom 50px
        .wrapper_createButton
            margin 5px 0
            button
                button()
                font-family "Montserrat"
                font-size 24px
                padding 15px 50px
                --box-shadow-color #004D40
                background-color #2e8f35                     
    .message-block // ----------------------------------------------------------------------MESSAGE BLOCK
        margin 25px auto
        padding-left 1%
        padding-right 1%
        padding-top 1px
        padding-bottom 20px
        background-color disable-input
        border-bottom 4px solid border-color
        border-radius 8px
        position relative
        width 80%
        &:hover
            .use-button
                opacity 1
        @media only screen  and (max-width : 1000px), screen and (max-device-width: 1000px)
            width 90%
        @media only screen  and (max-width : 480px), screen and (max-device-width: 480px)
            width 100%                
        .user-info // -------------------------------------------------------USERINFO
            margin-bottom 10px
            display flex
            justify-content flex-start
            padding 1em
            .header
                display flex
                border-radius 4px
                align-items center
                position relative
                width 100%
                margin 0
                .img
                    width 2.5em
                    min-width 2.5em
                    height 2.5em
                    border-radius 1.25em
                    display inline-block
                    overflow hidden
                    margin-right 12px
                    img
                        width 2.5em
                        min-width 2.5em
                        height 2.5em
            .createinfo
                    h3
                        word-wrap break-word
                        display inline-block
                        margin 0
                        font-size 1.15em
                        color #616161
                        font-family "Montserrat"
                    .post-date
                        display block
                        margin 0
                        color #616161
                        font-size 1.0em
        .message-info // ---------------------------------------------------------------------------MESSAGE info
            margin-top 7px
            padding 1em         
            .clicktohide
                margin-top 15px
                font-size 1.3em
                width 100%
                text-align right
            h3
                text-align left
                font-size 1.5em
                margin-top 0
                margin-bottom 20px
                overflow hidden
                text-over
                font-family "Montserrat"
            a
                display inline-block
                &:hover
                    text-decoration none
                    cursor pointer
            .main
                p
                    display inline
                    font-size 1.05em
                    
        .use-button
            position absolute
            padding 1em
            top 0px
            right 10px
            display flex
            opacity 0
            transition all 0.2s ease-out 0.2s
            justify-content flex-end
            margin 0
            i
                font-size 1.8em
                margin-right 10px
                cursor pointer
                border-radius 4px
                color #424242
                // background-color #ECF0F1
                padding 6px
                transition color 0.2s ease-out
                &:hover
                    color #1d8dbf
