@import "../../../public/libs/css/generalComponentsStyle.styl"
section.messageBoard
    text-align center
    background-color background-white
    width 70%
    margin-left 15%
    margin-top 2%
    margin-bottom 2%
    box-shadow 0px 5px 20px 2px shadow-grey
    border 1px solid border-grey
    border-radius 10px
    header
        text-align center
        font-size 1.6em
        margin-bottom 50px
        h2
            color main-text-color
            font-size 1.8em
            font-family "Montserrat"
        hr
            margin-top -4%
            width 40%
            height 1px
            background-color #616161
            margin-bottom 2%
        button
            button()
            margin-left 37.5%
            font-family "Montserrat"
            width 25%
    .message
        .messageInfo
            box-shadow: 0 0 30px #616161
            border-radius 20px
            width 90%
            margin-left 5%
            .header
                display flex
                div
                    width 60%
                    padding-top 2%
                    img
                        width 20%
                    span
                        width 30%
                        margin-left 3%
                        font-size 1.8em
                        color add-text-color
                .useButton
                    padding-top 2%
                    padding-left 45%
                    width 40%
                    display flex
                    button
                        button()
                        margin-right 5%
            hr
                height 1px
                background-color #616161
                margin-bottom: 3%
                border-radius 10px
                width 98%
                clear both
            .messageContent
                padding-bottom 1%
                background-color background-white
                margin-left 5%
                width 90%
                font-size 1.4em
                h2
                    text-align center
                    font-size 1.6em
                .text
                    padding-left 5%
                    padding-right 5%
                    text-align justify
                    font-family "Open Sans"
            h5
                text-align right
                padding-right 3%
                font-size 1.2em
                padding-bottom 20px
                color add-text-color