section.messageBoard
  header
    h2 Message Board
    hr
    button(ng-link='["PostMessage"]') Post message
  section.message
    section.messageInfo
      div
          img(src='https://cdn0.iconfinder.com/data/icons/user-pictures/100/matureman1-128.png', alt='avatar')
          span Name Surame
      section.useButton
              img(ng-link='["File"]', src='https://cdn4.iconfinder.com/data/icons/miu/24/editor-documents-files-outline-stroke-128.png')
              img(ng-link='["Comments"]', src='https://cdn4.iconfinder.com/data/icons/miu/24/other-conversation-review-comment-bubble-talk-outline-stroke-128.png')
              img(src='https://cdn4.iconfinder.com/data/icons/43-social-media-line-icons/24/Share-128.png')
      hr
      article.messageContent(ng-link='["EditMessage"]')
        h2 Title
        p.text
          | Examine she brother prudent add day ham. Far stairs now coming bed oppose hunted become his. You zealously departure had procuring suspicion. Books whose front would purse if be do decay. Quitting you way formerly disposed perceive ladyship are.

      h5 09.08.2016