.comments-wrapper {
  width: 100%;
  padding: 1%;
}
.comments-wrapper .row {
  padding: 0;
  margin: 0;
}
.comments-holder {
  padding: 1%;
  border: 1px solid #adadad;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 5px 20px 2px #808080;
}
.comments-holder .comments-header {
  border-bottom: 1px solid #808080;
  padding: 1%;
}
.comments-holder .comments-header span {
  font-family: "Montserrat";
  text-align: left;
  width: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
}
.comments-holder .comments-tools {
  width: 100%;
}
.comments-holder .user-name {
  font-weight: bold;
  font-family: "Montserrat";
  color: #212121;
  font-size: 25px;
  text-align: left;
}
.comments-holder .user-icon {
  font-size: 20px;
}
.comments-holder .comment {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 23px;
  text-align: justify;
}
.comments-holder .comment-date {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  color: #f2992e;
}
.comments-holder .user-message {
  height: 100px;
  font-size: 18px;
}
.comments-holder .attachment {
  font-size: 20px;
}
.comments-holder .button {
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 5px;
  background-color: #1d8dbf;
  color: #fff;
  padding: 1%;
  font-weight: bold;
  font-size: 25px;
  transition: 0.2s;
}
.comments-holder .button:hover {
  box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 4px #1d8dbf;
}
