.comments-wrapper
    .row.center-xs
        .col-xs-8.comments-holder
          .row.comments-header
            span.col-xs-11 Comments
            |                     
            .middle-xs.col-xs-1
              i.fa.fa-times.button(ng-if="$ctrl.backLink" ng-link='["{{$ctrl.backLink}}"]')
          |                 
          .row.comments-body
            ul.col-xs-12
              li.row(ng-repeat="comment in $ctrl.comments track by $index")
                .col-xs-1.avatar
                  img(ng-if="comment.author && comment.author.avatar" src="{{comment.author.avatar}}")
                  .user-icon.fa.fa-user(ng-if="!comment.author || !comment.author.avatar")
                |                         
                .col-xs-9
                  .row
                    span.col-xs-12.user-name {{comment.author.firstName}} {{comment.author.lastName}}                            
                  .row
                    p.col-xs-12.comment
                      | {{comment.description}}
                |                         
                span.col-xs-2.comment-date {{coment.date}}
        
          .row.comments-tools
            .col-xs-12
              form(name="comment",novalidate)
                .row.center-xs.center-xs
                  textarea.col-xs-11.user-message(type="text",name="text",ng-model="$ctrl.myComment",required,ng-minlength="3",ng-maxlength="250")
                  hr
                  p(ng-show="comment.text.$error.minlength" class="help-block") Comment is too short.
                  p(ng-show="comment.text.$error.maxlength" class="help-block") Comment is too long.
                |                         
                .row
                  .button.comment-button.col-xs-4.col-xs-offset-4(ng-click="$ctrl.sendComment(comment.$valid)") Comment
