section.post-message-wrapper
  header
    h2 Post message
    div.fa.fa-close(ng-link='["MsgBoard"]')
      //img(ng-link='["MsgBoard"]', align='top', src='https://cdn3.iconfinder.com/data/icons/simple-files-1/128/No-128.png', alt='exit')
  hr
  h1 Title
  input(name="title",ng-model="postCtrl.title")
  h1 Description
  textarea(ckeditor,name='', id='', cols='30', rows='10',ng-model="postCtrl.desc")
  //  form#uploadForm(action='/postMessage', method='post', enctype='multipart/form-data')
  //          input(type='file', name='message')
  //          input(type='submit', value='Upload')
  //section.draft-post
  //  select(name='drafts')
  //    option(value='draft1') draft1
  //    option(value='draft2') draft2
  //    option(value='draft3') draft3
  div.sendBtn
    button(ng-click="postCtrl.draft()") Save as Draft
  div.sendBtn
    button(ng-click="postCtrl.post()") Post
