@import "../../../public/libs/css/generalComponentsStyle.styl"
.post-messageWrapper
    main-component()
    .header
        header-style()
    input
        width 100%
        font-size 25px

    .input-block
        margin-left 15%
        margin-bottom 50px
        textarea
            width 70%
            font-size 1.6em
            resize none
            font-family "Open Sans"
        .img-block
            width 8%
            position absolute
            left 74.5%
            img
                width 64%
                margin-left 18%
        div
            background-color #ffcc80
            width 71%
            text-align center
    .draft-post
        select
            font-size 1.6em
            width 25%
            margin-left 10%
            margin-right 14%
    .buttons
        display flex
        flex-direction row
        justify-content center
        flex-wrap wrap
    .sendBtn
        display flex
        justify-content center
        align-content center
        button
            align-self center
            display flex
            justify-content center
            button()
            font-family "Montserrat"
            font-size 24px
            padding 15px 50px
            --box-shadow-color #004D40
            background-color #2e8f35   

