.post-messageWrapper
	h1.header Post message
		.return-btn(ng-link='["MsgBoard"]')
			i.fa.fa-arrow-left
			a
				span return
	form(name="message",novalidate)
		//h1 Title
		input(name="title",placeholder="Message title",type="text",ng-model="postCtrl.title",required,ng-minlength="3" ng-maxlength="30",autocomplete="off")
		.invalid_info
			p(ng-show="message.title.$invalid && postCtrl.invalidForm" ) Title is required;
			p(ng-show="message.title.$error.minlength && postCtrl.invalidForm") Title is too short;
			p(ng-show="message.title.$error.maxlength && postCtrl.invalidForm") Title is too long;
		//h1 Description
		//- input(ckeditor,type="text",placeholder="Type your message here...", name="text", ng-model="postCtrl.desc",required,ng-minlength="10" ng-maxlength="2000")
		.mesgDescription
			.mesgEditor(ui-tinymce="postCtrl.tinyOptions",ng-model="postCtrl.desc", ng-class = "{'placeholder': !postCtrl.desc.length}")
		.invalid_info
			p(ng-show="message.content.$invalid && postCtrl.invalidForm") Message is required;
			p(ng-show="message.content.$error.minlength && postCtrl.invalidForm") Message is too short;
			p(ng-show="message.content.$error.maxlength && postCtrl.invalidForm") Message is too long; 
			//- .placeholder(ng-show = "!postCtrl.desc.length && createProj.descriptionPlaceholder") Your project description here
		file-upload(file-list = 'postCtrl.files')
		.buttons
			//- div.sendBtn
			//-   button(ng-click="postCtrl.draft(message.$valid)") Save as Draft
			div.sendBtn
				button(ng-click="postCtrl.post(message.$valid)") Post

