.checkins-answer-wrapper
    margin 5%
    li
        list-style none
    .header-answer
        height 20%
        button
            font-size 18px
            margin 15px
            padding 5px
            border-radius 10px
            cursor pointer
            background-color #1d8dbf
            &:hover
                background-color #27bcff
        h2
            margin 0
    .checkins-answer
        display flex
        flex-flow row wrap
        justify-content center
        max-width 650px
        text-align center
        margin 0 auto
        background-color #f5f5f5
        border 1px solid #adadad
        border-radius 10px
        & > *
            flex 1 100%

    .header-answer, .list
        border-bottom 1px solid #adadad
    nav
        display flex
        justify-content space-between
        margin 15px
        ul
            display flex
        a
            text-decoration none
            margin 0 auto
            margin 10px
            color black
            &:hover
                color #1d8dbf
    .main-answer
        height 80%
    .qq-list
        li
            font-size 18px
            padding 1%
    .name
        font-weight bold
    .list
        text-decoration none
        text-align left
        list-style none
        margin-right 15px

