.wrapper
  display flex
  flex-direction column
  border 2px solid black
  position absolute
  top 50%
  left 50%
  padding 15px
  -ms-transform translateX(-50%) translateY(-50%)
  -webkit-transform translate(-50%,-50%)
  transform translate(-50%,-50%)

.head
  display flex
  flex-direction row
  justify-content space-between
  margin-bottom 10px

.date
  display flex
  flex-direction row
  justify-content space-between
  margin-bottom 5px

.participants
  display flex
  flex-direction row
  margin-bottom 5px

.period
  display flex
  flex-direction row
  justify-content space-between

i
  color black

a
  i
    &:hover
      color blue

