.wrapper
  padding 10px 10px 10px 10px
  h1
    text-align center
  .goto
    text-align center

.head
  display flex
  flex-wrap wrap
  justify-content space-between
  h1
    align-self center
  i
  	margin-left 2px
    
a
  color black
  &:hover
    color blue

.nav
  align-self center
  min-width 160px
.goto
    a
      margin-left 3px

.main
  display flex
  flex-direction row
  justify-content center
  form[name="projectEdit"]
    display flex
    flex-direction column
    float left
    clear left
    width 100%
    margin 30px 0 1.5em 0
    padding 0
    button
      min-width 40%
      max-width 45%
      align-self center
    label
      float left
      width 7em
      margin-right 0.5em
      display flex
    .wrap
      float left
      clear left
      width 100%
      padding-bottom 1em
      display flex
      flex-direction row
      justify-content center
      flex-wrap wrap
    i
      align-self center
    input
      min-width 60%
      max-width 75%
    textarea
      min-width 60%
      max-width 75%
      height 150px
    select
      min-width 60%
      max-width 75%
    .participants
      min-width 60%
      max-width 75%
      display flex
    a
      align-self center
      margin-left 2px

