.mainpage
	
	padding 30px 20px

	.lableRow
		display flex
		align-items: center
		margin 10px 5% 50px
		select
			height 30px
			margin-left 20px
			border-radius 6px
			height 37px
			width 10%
		.timelineLable
			background-color #6B5E5E
			color white
			border-radius 15px
			h2
				margin 5px 5px
			
	.timeline
		display block
		position relative
		width 80%
		height 30px
		margin 50px auto
		border-left 2px solid black
		border-right 2px solid black
		&:after
			content ''
			border-top 2px solid black
			height 0
			width 110%
			left -5%
			position absolute
			top 50%
			z-index 0
		#time1
			position absolute
			left -15px
			bottom -30px
		#time2
			position absolute
			right -15px
			bottom -30px
		.eventcircl
			color white
			background-color #6B5E5E
			height 30px
			line-height 30px
			width 30px
			text-align center
			border 1px solid #6B5E5E
			border-radius 15px
			position absolute
			z-index 30000
			.count
				color #E26A6A
				position absolute
				bottom -17px
				right -5px
		.deadline 
			color #E26A6A
			.time
				color white
				background-color #6B5E5E
				position absolute
				top -25px
				height 20px
				line-height 20px
				padding 0 3px
				border-radius 4px
				left -5px
		#tl1
			left 10%
		#tl2
			left 17%
		#tl3
			left 54%
		#tl4
			left 83%
		
	.messagesreview
		
		display flex
		border 2px solid #6B5E5E
		border-radius 20px
		background linear-gradient( to right, #6B5E5E 20%, white 20%)
		justify-content space-between
		padding 10px
		align-items center
		margin 50px 5%
		height 130px
		img
			width 35px
			height 35px
			border 1px solid black
			border-radius 20px
		.messname
			float right
			font-size 16px
			line-height 35px
			margin-right 5%
			vertical-align baseline
		.messtext 
			text-align left
			display block
			line-height 15px
			width 100%
			max-height 45px
			overflow hidden
			text-overflow ellipsis
			margin-top 4px
		>div
			height 130px
			&:not(:last-child)
				border-right 1px solid black
			&:nth-child(1)
				width 20%
				border-right none
			&:not(:nth-child(1))
				width 17%
		.messagelable
			color white
			font-size 24px
			h3
				line-height 130px
				margin 0
			
		.time
			color blue
			margin-top 15px
			font-size 12px
				
	
		
	.checkinsreview
		display flex
		border 2px solid #6B5E5E
		border-radius 20px
		background linear-gradient( to right, #6B5E5E 20%, white 20%)
		justify-content space-between
		padding 10px
		align-items center
		margin 50px 5% 0
		height 130px
		>div
			position relative
			height 130px
			&:not(:last-child)
				border-right 1px solid black
			&:nth-child(1)
				width 20%
				border-right none
			&:not(:nth-child(1))
				width 17%
			span
				display block
		.checkinslable
			color white
			font-size 24px
			h3
				line-height 130px
				margin 0
		.question
			margin-bottom 30px
		.repeattime
			color #9E9E9E
			font-size 12px
			position absolute
			top 50%
		.answercount
			position absolute
			bottom 0
			color #1565C0
			font-size 14px

		
