.drafts-container{
    font-family: 'Titillium Web', sans-serif;
}
.drafts-line{
    width: 500px;
}
.drafts-container h1{
	text-align: center;
	font-size: 50px;
}
.drafts-items{
	overflow: hidden;
	margin: 0px auto;
	width: 60%;   
}
.draft{
    margin: 0px;
    height: 200px;
}

.draft-title{
    height: 70px;
    position: relative;
}
.draft-title:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.draft-title h2{
    float: left;
    margin-left: 10px; 
    
}
.draft-title img{
   vertical-align:middle;
}
.iconRight{
    position: absolute;
    right: 0;
    top: 20px;
}
.draft-body{
    padding: 10px;
}

.hr-style {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}