.drafts-container
    h1 Drafts
    hr.drafts-line.hr-style
    .drafts-items
        .draft
            .draft-title
                h2  Draft Title
                i.fa.fa-folder-open-o.fa-2x
                i.fa.fa-pencil.fa-2x.iconRight
            .draft-body
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum efficitur quam, nec tristique urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque lobortis sem sed metus suscipit, ut euismod massa scelerisque. Fusce interdum pharetra nulla
        hr.hr-style
        .draft
            .draft-title
                h2  Draft Title2
                i.fa.fa-folder-open-o.fa-2x
                i.fa.fa-pencil.fa-2x.iconRight
            .draft-body
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum efficitur quam, nec tristique urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque lobortis sem sed metus suscipit, ut euismod massa scelerisque. Fusce interdum pharetra nulla
        hr.hr-style
        .draft
            .draft-title
                h2  Draft Title3
                i.fa.fa-folder-open-o.fa-2x
                i.fa.fa-pencil.fa-2x.iconRight
            .draft-body
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum efficitur quam, nec tristique urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque lobortis sem sed metus suscipit, ut euismod massa scelerisque. Fusce interdum pharetra nulla
        hr.hr-style
                
                    