.drafts-container  
    span.col-xs-1.col-xs-offset-10.fa.fa-close.button.exit-draft(ng-link='["MainPage"]')
    .drafts-items
        h1 Drafts
        hr.drafts-line.hr-style
        .draft(ng-repeat="draft in $ctrl.drafts track by $index")
            .draft-title
                h2  {{draft.title}}
                i.fa.fa-folder-open-o.fa-2x.draft-folder(ng-link='["File"]')
                i.fa.fa-pencil.fa-2x.iconRight(ng-link='["EditMessage",{id:draft._id}]')
            .draft-body
                p(ng-bind-html="draft.description")
        hr.hr-style
                
                    