section.files-wrapper
  header
    h2 Files
    div.fa.fa-close(ng-link='["MsgBoard"]')
      //img(ng-link='["MsgBoard"]', align='top', src='https://cdn3.iconfinder.com/data/icons/simple-files-1/128/No-128.png', alt='exit')
  hr
  section.content
    ul(type='none')
      li
        img(align='top', src='https://cdn3.iconfinder.com/data/icons/chooseanycolor/128/js-128.png', alt='')
        span code.js
        hr
      li
        img(align='top', src='https://cdn0.iconfinder.com/data/icons/cosmo-documents/40/pdf-128.png', alt='')
        span docs.pdf
        hr
      li
        img(align='top', src='https://cdn0.iconfinder.com/data/icons/cosmo-documents/40/txt-128.png', alt='')
        span TZ.doc
        hr
  div Download all
