.files-wrapper
    width 40%
    border 1px solid #7986CB
    border-radius 10px
    position absolute
    top 200px
    left 500px
    header
        h2
            padding 1%
            font-size 1.8em
        hr
            width 70%
            height 1px
            background-color #EF6C00
            margin-left 0
        img
            margin-left 80%
            width 5%
    .content
        ul
            li
                margin-top 4%
                margin-bottom 4%
                img
                    width 5%
                    margin-left 7%
                    margin-right 5%
                span
                    font-size 1.2em
                hr
                    width 68%
                    margin-left 0
                    height 1px
                    background-color #616161
    button
        margin-left 37%
        width 26%
        font-size 1.6em
        margin-bottom 20px
        background-color #C8E6C9