header.header-wrapper
    nav#navigation
        ul.row
            li.col-xs-6
                input(type='text', placeholder='Search')
            li.col-xs-3
                a(href='#') Profile
            li.col-xs-1
                a(href='#')
                    i.fa.fa-blind.fa-lg
            li.col-xs-1
                a(href='#')
                    i.fa.fa-glass.fa-lg
            li.col-xs-1
                a(href='#')
                    i.fa.fa-gavel.fa-lg
