header#wrapper-header
    nav#navigation
        ul#nav-list
            li
                input(type='search', placeholder='Search')
            li
                a(href='#') Profile
            li
                a(href='#')
                    i.fa.fa-blind.fa-lg
            li
                a(href='#')
                    i.fa.fa-glass.fa-lg
            li
                a(href='#')
                    i.fa.fa-gavel.fa-lg
