header.header-wrapper
	nav#navigation
		ul.row.col-xs-12
			li.col.xs-3
				a.createProj(ng-link="[\"CreateProject\"]" href="#/createproject") + New project
			li.col-xs-3
				.black
					select(ng-model="head.currentProjectId",ng-change="head.setProject()",id="green",ng-options = "project._id as project.title for project in head.userProjects")
						option(value="" disable) Select Project
			li.col-xs-3
				input(type='text', placeholder='Search')
			li.col-xs-3
				a(href='#') Profile
//            li.col-xs-1
//                a(href='#')
//                    i.fa.fa-blind.fa-lg
//            li.col-xs-1
//                a(href='#')
//                    i.fa.fa-glass.fa-lg
//            li.col-xs-1
//                a(href='#')
//                    i.fa.fa-gavel.fa-lg
