header.header-wrapper
	#news-view
		header#header
			.hdr-header
				img#BSheaderLogo.hdr-logo(src='http://academy.binary-studio.com/resources/logo.png')
				div
					.hdr-buttons
						#menu-gen(ng-click='newsCtrl.toggleGenMenu()')
							i.fa.fa-bars.fa-2x
						input#searchBar(placeholder='Search')
						a#userLink.hdr-noTextDecoration
							#userProfile
								//img#avatar.hdr-avatar(src='http://team.binary-studio.com/profile/api/files/get/Unknown.png')
								i.fa.fa-user.fa-2x
								span#userName Admin
								span#profileBarArrDwn
						button#appsBtn.hdr-button
							img.hdr-appsLogo(src='http://team.binary-studio.com/app/images/Thumbnails.png')
							// <i class="fa fa-th fa-2x"></i>
						button#notificationBtn.hdr-button
							img.hdr-appsLogo(src='http://team.binary-studio.com/app/images/bell.png')
							// <i class="fa fa-bell-o fa-2x"></i>
					#notificationCounter 13
					#search
			// INVISIBLE
			#logOutBox.hdr-headerElements.hdr-invisible
			#appsBlock.hdr-invisible
			#notificationBlock.hdr-invisible

	script(src='http://team.binary-studio.com/app/javascripts/header.js')
