@import "../../../public/libs/css/generalComponentsStyle.styl"

.header-wrapper
    position  fixed
    z-index 100
    top 0
    left 0
    width 100%
    *
        box-sizing border-box

    .button
        color #fff

@media only screen  and (max-width : 1000px), screen and (max-device-width : 1000px)
    #BSheaderLogo
        opacity 0
    #searchBar
        width 120px
