@import "../../../public/libs/css/generalComponentsStyle.styl"
@import "http://team.binary-studio.com/app/styles/css/style.css"

.header-wrapper
    position  fixed
    z-index 100
    top 0
    left 0
    width 100%
    *
        box-sizing border-box
    ul
        padding-right 1%
        li
            display inline-flex
            justify-content center
            align-items center
            list-style none
            line-height 50px
            text-align center
            a
                display inline-block
                text-decoration none
                color white
                text-align center
                    input
                        color #403F3F
                i
                    padding 2%
                    text-align center
            .createProj
                font-family "Montserrat"
                font-size 20px
                margin-top 10px
            .black
                select
                    background-color #3498DB
                    background-repeat no-repeat
                    background-position right 10px top 15px
                    background-size 16px 16px
                    color white
                    padding 5px
                    margin-top 18px
                    width auto
                    font-family "Montserrat"
                    font-size 16px
                    font-weight bold
                    color #fff
                    text-align center
                    text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
                    border-radius 3px
                    -webkit-border-radius 3px
                    -webkit-appearance #0088cc  none
                    border 0
                    outline 0
                    -webkit-transition 0.3s ease all
                    -moz-transition 0.3s ease all
                    -ms-transition 0.3s ease all
                    -o-transition 0.3s ease all
                    transition 0.3s ease all
                    option:first-child
                        display none
                select:hover
                    background-color:#2980B9;


                    select:focus, select:active
                        border 0
                        outline 0
@media only screen  and (max-width : 1000px), screen and (max-device-width : 1000px)
    #BSheaderLogo
        opacity 0
    #searchBar
        width 120px
        
